.cart_inside_item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    font-size: $h5;
    margin: 10px 0px;
    position: relative;
    .cart_item_img{
        width: 25%;
        img{
            max-width: 100%;
        }
    }
    .cart_item_name{
        width: 25%;
        align-self: center;
    }
    .cart_item_number{
        display: flex;
        width: 25%;
        align-self: center;
        button{
            width: 30%;
            background-color:$bkc_lightorange;
            outline: none;
            border: 1px solid $brown;
            cursor: pointer;
        }
        input{
            display: inline-block;
            width: 40%;
            color: $brown;
            text-align: center;
        }
    }
    .cart_item_price{
        width: 15%;
        align-self: center;
    }
    .cart_item_delete{
        align-self: center;
        text-align: center;
        width: 10%;
        cursor: pointer;
        img{
            width: 40%;
        }
    }
}

.show_down{
    display: none;
}

.fruit_box_inside{
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    font-size: $h5;
    margin: 10px 0px;
    .fruit_box_img{
        width: 25%;
        img{
            max-width: 100%;
        }
    }
    .fruit_box_name{
        width: 25%;
        align-self: center;
    }
    .fruit_box_number{
        display: flex;
        width: 25%;
        align-self: center;
        padding: 0 5px;
        button{
            width: 30%;
            background-color:$bkc_lightorange;
            outline: none;
            border: 1px solid $brown;
            cursor: pointer;
        }
        input{
            display: inline-block;
            width: 40%;
            color: $brown;
            text-align: center;
        }
    }
    .fruit_box_price{
        width: 15%;
        align-self: center;
    }
    .fruit_box_delete{
        align-self: center;
        text-align: center;
        width: 10%;
        cursor: pointer;
        img{
            width: 40%;
        }
    }
}
.fruit_detail{
    position: relative;
    width: 100%;
    .cart_arrow{
        position: absolute;
        z-index: 1;
        top: -30px;
        left:50%
    }
    ul{
        display: none;
        text-align: left;
        padding-left: 45%;
        font-size: $h5;
        li{
            margin: 4px 0px;
        }
    }
}
