@mixin btn($x, $y:null) {
    width: $x;
    height: $y;
    background-color: $green;
    text-decoration: none;
    @include border_radius();
    padding: 10px;
    border: 0;
    color: $white;
    font-size: $h4;
    
}

@mixin border_radius {
    border-radius: 101px;
}

@mixin marginAuto {
    margin: 0 auto;
}

@mixin a_link {
    text-decoration: none;
    color: $brown;
}