<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>良耕野菜-結帳頁面</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./images/logo-02.svg">
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <script>
    function ifMember(){
      $.ajax({
            method: 'POST',
            url: 'php/ifMember.php',
            data:{},
            dataType: 'text',
            success: function(response) {
              console.log(response);
              if(response == 'yes'){
                $('.nav_block_log > span').text('會員中心');
                $('.login').click(function(){
                  window.location.href = 'member.html';
                });
              }else{
                $('.login').click(function(){
                  window.location.href = 'login.html';
                });
              }
            },
            error: function(exception) {
                console.log(exception)
                alert("發生錯誤: " + exception.status);
            },
      });  
    }
  </script>
  <body onload="ifMember()">
    <header class="header">
      <!-- 手機板header -->
      <div class="fixed_top">
        <div class="fixed_top_logo">
          <a href="./index.html">
            <img src="./images/fixed_top_logo.svg" alt="top_logo" />
          </a>
        </div>
        <div class="shop_car">
          <img src="./images/shopping_cart.svg" alt="shopping_cart" />
        </div>
        <div class="ham">
          <div class="ham_top"></div>
          <div class="ham_middle"></div>
          <div class="ham_bottom"></div>
        </div>
      </div>
      <!-- 手機板header結束 -->
      <div class="menu_fixed">
        <div class="icon">
          <div class="ham">
            <div class="ham_top"></div>
            <div class="ham_middle"></div>
            <div class="ham_bottom"></div>
          </div>
          <div class="login">
            <a href="./login.html">
              <img src="./images/login_icon.svg" alt="login_icon" />
            </a>
          </div>
          <div class="shop_car">
            <img src="./images/shopping_cart.svg" alt="shopping_cart" />
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="logo_img">
          <a href="./index.html">
            <img src="./images/logo.svg" alt="logo" />
          </a>
        </div>
        <div class="page_list">
          <a href="./event.html">農村體驗</a>
          <a href="./fruit_box.html">客製蔬果箱</a>
          <a href="./game.html">蔬果知識小遊戲</a>
          <a href="./aboutUs.html">關於我們</a>
          <a href="./q_a.html">問與答</a>
          <a href="./shopping_page.html">新鮮蔬果</a>
        </div>
      </div>
      <div class="title">
        <div class="title_btn">
          <button class="comm_us">
            聯絡我們 <img src="./images/cotact_us.svg" width="25px" alt="" />
          </button>
          <a class="buy_now" href="./shopping_page.html">
            立即買<img src="./images/buy_now.svg" width="25px" alt="" />
          </a>
        </div>
        <div class="title_pic">
          <img src="./images/checkout/checkout_01.jpg" alt="checkout_pic" />
          <span class="bkc_black"></span>
          <h1>結帳頁面</h1>
        </div>
      </div>
      <!-- 漢堡彈窗 -->
      <div class="jump_hamburger_block">
        <div class="hamburger_logo">
          <a href="./index.html">
            <img src="./images/logo.svg" alt="logo">
          </a>
        </div>
        <div class="header_nav_block">
          <div class="nav_block_contact">
            <img src="./images/nav_block_pen.svg" />
            聯絡我們
          </div>
          <div class="nav_block_log">
            <img src="./images/nav_block_log.svg" />
            登入註冊
          </div>
          <div class="nav_right_block">
            <div class="nav_active">
              <a href="./event.html">農村體驗</a>
              <a href="./event_info.html">預約去</a>
            </div>
            <div class="nav_buy_now">
              <a href="./shopping_page.html">立即買</a>
              <a href="./fruit_box.html">客製蔬果箱</a>
              <a href="./shopping_page.html">新鮮蔬果</a>
            </div>
            <div class="nav_knowledge">
              <a href="./q_a.html">蔬果知識小遊戲</a>
            </div>
          </div>
          <div class="nav_left_block">
            <div class="nav_about_us">
              <a href="./aboutUs.html">關於我們</a>
              <a href="./aboutUs.html">農場介紹</a>
              <a href="./product_introduction.html">生產介紹</a>
            </div>
            <div class="nav_QA">
              <a href="./q_a.html">問與答</a>
            </div>
          </div>
          <img
            src="./images/header_vegetable.svg"
            alt="vegetable"
            class="header_vegetable"
          />
          <img
            src="./images/header_lemon.svg"
            alt="vegetable"
            class="header_lemon"
          />
          <img
            src="./images/header_kiwi.svg"
            alt="vegetable"
            class="header_kiwi"
          />
        </div>
      </div>
      <!-- 漢堡彈窗結束 -->

      <!-- 聯絡我們彈窗 -->
      <div class="index_contact_box">
        <div class="black_block"></div>
        <div class="cotanct_block">
          <div class="contact_block_head">
            <button class="contact_block_Xmark"></button>
          </div>
          <h2>聯絡我們</h2>
          <div class="contact_search_bar">
            <input type="text" id="order_search" placeholder="請輸入訂單編號" />
            <button class="search_icon">
              <img src="./images/header_search_icon.svg" alt="search" />
            </button>
          </div>
          <h3>若有其他問題可以點擊下方按鈕寄信</h3>
          <div class="mailto_block">
            <a class="contact_mailto" href="mailto:goodvegetablebox@gmail.com"
              >寄送問題</a
            >
          </div>
        </div>
      </div>
      <!-- 聯絡我們彈窗結束 -->

       <!-- 購物車彈窗  -->
       <div class="header_shopping_cart">
        <button class="cart_close">
          <img src="./images/checkout/X_mark.svg">
        </button>
        <div class="incart_car_block">
          <img src="./images/header_incart.svg" alt="">
        </div>
        <div class="cart_buy_list">
          <span class="cart_nothing">目前購物車空無一物</span>
        </div>
        <div class="incart_total">
          總和
          <span class="cart_total_price">0</span>元
        </div>
        <div class="incart_checkout_block">
          <a class="incart_checkout_btn" href="./checkout.html">結帳去</a>
        </div>
      </div>
      <!-- 購物車彈窗結束  -->
    </header>

    <div class="checkout_shopping_step">
      <div class="first_step">
        <section>1</section>
        <p>購物車明細</p>
      </div>
      <span class="step_line"></span>
      <div class="second_step">
        <section class="step_on">2</section>
        <p>聯絡人資料</p>
      </div>
      <span class="step_line"></span>
      <div class="third_step">
        <section>3</section>
        <p>訂單完成</p>
      </div>
    </div>
    <div id="shopping2_detail">
      <div class="checkout_s2_shopping_detail">
        <p>商品總金額 <span>{{total_money}}</span>元</p>
        <p>(已扣購物金 <span>{{cuppon_money}}</span>元)</p>
        <!-- 數字部分要用函數帶入 -->
        <p class="checkout_s2_shopping_detail_total">
          共計{{total_item}}件商品
          <img
            class="detail_icon_open"
            src="./images/checkout/plus_icon.svg"
          />
        </p>
        <div class="checkout_s2_detail">
          <div class="checkout_shopping_detail_block">
            <section v-for="detail in block_details" :class="detail.class">{{detail.name}}</section>
          </div>
          <div class="checkout_shopping_product_detail" v-for="(item,index) in cart_items">
            <section class="checkout_shopping_product_detail_img">
              <img :src="item.item_img" />
            </section>
            <section class="checkout_shopping_product_detail_name">
              {{item.item_name}}
            </section>
            <section class="checkout_shopping_product_detail_sum">
              {{item.item_number}}
            </section>
            <section class="checkout_shopping_product_detail_price">
              {{item.unit_price}}
            </section>
            <section class="checkout_shopping_product_detail_total">
              {{item.total_price}}
            </section>
          </div>
          <div class="checkout_shopping_product_detail" v-for="(item,index) in fruit_boxs">
            <section class="checkout_shopping_product_detail_img">
              <img :src="item.item_img" />
            </section>
            <section class="checkout_shopping_product_detail_name">
              {{item.item_name}}
            </section>
            <section class="checkout_shopping_product_detail_sum">
              {{item.item_number}}
            </section>
            <section class="checkout_shopping_product_detail_price">
              {{item.unit_price}}
            </section>
            <section class="checkout_shopping_product_detail_total">
              {{item.total_price}}
            </section>
          </div>
        </div>
      </div>
      <div class="chekout_s2_order_detail_block">
        <div class="checkout_s2_receiver_infro">
          <h3>訂購人資料</h3>
          <div class="checkout_s2_receiver_infro_group" v-for="item in receiver_detail">
            <label >{{item.name}}</label>
            <input type="text" :class="item.class" />
          </div>
          <div class="checkout_s2_receiver_infro_group">
            <label for="">性別</label>
            <select>
              <option value="男">男</option>
              <option value="女" selected>女</option>
              <option value="其他">其他</option>
            </select>
          </div>
        </div>
        <div class="checkout_s2_deliver_infro">
          <h3>收件人資料</h3>
          <div class="checkout_s2_deliver_infro_check">
            <input type="checkbox" id="deliver_box" v-model="theSame" />
            <label for="deliver_box"> 收件人資料同訂購人資訊</label>
          </div>
          <div class="checkout_s2_deliver_infro_group">
            <label for="">收件人名稱</label>
            <input type="text" class="deliver_name" />
          </div>
          <div class="checkout_s2_deliver_infro_group">
            <label for="">收件人手機</label>
            <input type="text" class="deliver_phone" />
            <hr />
          </div>
          <div class="checkout_s2_deliver_infro_group">
            <label for="">送貨地址</label>
            <select class="checkout_s2_city"  v-model="mainArea">
              <option disabled selected>請選擇縣市</option>
              <option v-for="(place,key) in area_data" :value="place.name">{{place.name}}</option>
            </select>
            <select class="checkout_s2_area" v-model="subArea">
              <option disabled selected>請選擇分區</option>
              <option v-for="area in area_arr">{{area}}</option>
            </select>
            <input type="text" v-model="address" placeholder="請輸入詳細地址"/>
            <hr />
          </div>
          <div class="checkout_s2_deliver_infro_group">
            <label for="">預計到貨</label>
            <input type="text" disabled value="兩天後送達" />
          </div>
        </div>
      </div>
      <div class="chekout_s2_order_other_block">
        <div class="chekout_s2_order_other_block_note">
          <h3>訂單備註</h3>
          <textarea rows="5" placeholder="有甚麼想告知我們的嗎??" v-model="note"></textarea>
        </div>
        <div class="chekout_s2_order_other_block_pay">
          <h3>付款方式</h3>
          <!-- 看是用v-model雙向綁定或span來寫 -->
          <p>已選擇付款方式:信用卡</p>
        </div>
      </div>
      <div class="chekout_s2_order_privacy">
        <input type="checkbox" id="checkout_privacy" v-model="privacy"/>
        <label for="checkout_privacy">我已同意網站服務條款及隱私權</label>
        <div class="chekout_s2_order_privacy_next">
          <button onclick=window.location.href='checkout.html'>返回購物車</button>
          <button @click="credit_confirm">提交訂單</button>
        </div>
        <div class="credit_bkc" v-if="isShow" @click="credit_confirm">
          <!-- @click="credit_confirm" 冒泡事件 -->
          <div class="credit_form" v-if="isShow" @click.stop>
            <h1>信用卡結帳系統</h1>
            <div class="step_back_btn" @click="credit_confirm">
              <img src="./images/checkout/X_mark.svg" alt="X" />
            </div>
            <div class="credit_form_block">
              <div class="credit_form_left_block">
                <div class="credit_card_img_front">
                  <img class="card_img" src="./images/checkout/credit_card.png">
                  <div class="left_block_name">
                    <p>cardholder Name:</p>
                    <p>{{card_name}}</p>
                  </div>
                  <div class="left_block_number">
                    <p>card number</p>
                    <p>{{card_number}}</p>
                  </div>
                </div>
                <div class="credit_card_img_back">
                  <img class="card_img" src="./images/checkout/credit_card.png">
                  <div class="left_block_name">
                    <p>cardholder Name:</p>
                    <p>{{card_name}}</p>
                  </div>
                  <div class="left_block_other">
                    <section class="left_block_valid">
                      Valid Thru
                      <span>{{card_valid}}</span>
                    </section>
                    <section class="left_block_security">
                      Security Code
                      <span>{{card_security}}</span>
                    </section>
                  </div>
                </div>
              </div>
              <div class="credit_form_right_block">
                <section class="right_block_name">
                  <label>持有人名稱</label>
                  <input type="text" v-model="card_name" placeholder="王大明" @focus="turn_front"  />
                </section>
                <section class="right_block_number">
                  <label>信用卡號</label>
                  <input type="text" v-model="card_number" oninput = "value=value.replace(/[^\d]/g,'')" @focus="turn_front" />
                </section>
                <form class="right_block_other">
                  <section class="right_block_valid">
                    <label for="">有效期限</label>
                    <input
                      type="text"
                      v-model="card_valid"
                      placeholder="08/21"
                      oninput = "value=value.replace(/[^\d]/g,'')"
                      @focus = "turn_back"
                    />
                  </section>
                  <section class="right_block_security">
                    <label for="">安全碼</label>
                      <input type="text"  v-model="card_security" oninput = "value=value.replace(/[^\d]/g,'')" @focus = "turn_back" />
                  </section>
                </form>
              </div>
            </div>
            <!-- <input
              type="submit"
              value="確認送出"
              class="credit_detail_confirm"
            /> -->
            <a class="credit_detail_confirm" @click.prevent="order_make" href="./checkout_s3.html">確認送出</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer_bg">
      <img class="checkout_footer_img" src="./images/checkout/checkout_footer.svg" alt="for_footer">
      <div class="footer">
        <button class="go_top" id="go_top">
          <img src="./images/top.svg" alt="top" />
        </button>
        <div class="footer_logo">
          <a href="./index.html">
            <img src="./images/logo.svg" alt="logo" />
          </a>
        </div>
        <div class="footer_center">
          <h4>電話:02-26938800</h4>
          <h5>營業時間: 星期二至星期日(10:00 - 17:00)</h5>
          <h5>※農曆過年假期本農場也公休 網路接單為24小時</h5>
          <h5>※當日訂單最晚收到17:00</h5>
          <h5>(17:00後下單視為隔日下單)</h5>
          <div class="btn_pos">
            <button class="mail_btn">
              <img src="./images/mail.svg" alt="mail">MAIL
            </button>
          </div>
          <div class="footer_icon">
            <img src="./images/icon-fb.svg" alt="fb" />
            <img src="./images/icon-line.svg" alt="line" />
            <img src="./images/icon-ig.svg" alt="ig" />
          </div>
        </div>
        <div class="footer_right">
          <div class="right_main">
            <a href="./index.html">首頁</a>
            <a href="./event.html">農村體驗</a>
            <a href="./game.html">蔬果知識小遊戲</a>
            <a href="./aboutUs.html">關於我們</a>
            <a href="./q_a.html">問與答</a>
          </div>
          <div class="right_buy">
            <a href="./fruit_box.html">客製蔬果箱</a>
            <a href="./shopping_page.html">蔬菜</a>
            <a href="./shopping_page.html">水果</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="./js/shopping_cart.js"></script>
    <script src="./js/header.js"></script>
    <script>
      var shopping2_detail  = new Vue({
        el: "#shopping2_detail",
        data: {
          total_money:'', //總金額
          total_item:'',  //總件數
          cuppon_money:0, //購物金
          block_details:[
            {class:"checkout_shopping_detail_img", name:'商品圖片'},
            {class:"checkout_shopping_detail_name", name:'商品名稱'},
            {class:"checkout_shopping_detail_sum", name:'數量'},
            {class:"checkout_shopping_detail_price", name:'單價'},
            {class:"checkout_shopping_detail_total", name:'小計'},
          ],
          cart_items:[],  //存放購物詳細資訊
          fruit_boxs:[],
          receiver_detail:[
            {name:'訂購人名稱', class:'receiver_name'},
            {name:'電子郵件', class:'receiver_email'},
            {name:'聯絡電話(手機)', class:'receiver_phone'},

          ],
          note:'',
          
          isShow: false,  //信用卡彈窗
          card_name: "",
          card_number: "",
          card_valid: "",
          card_security: "",
          theSame:false, // 訂購資訊相同
          privacy:false, // 隱私

          mainArea:'請選擇縣市',
          subArea:'請選擇分區',
          address:'',
          area_arr:[],
          area_data : [
            { 
              id:1,
              name:'臺北市',
              area: [
                "中正區",
                "大同區",
                "中山區",
                "萬華區",
                "信義區",
                "松山區",
                "大安區",
                "南港區",
                "北投區",
                "內湖區",
                "士林區",
                "文山區",
              ],
            },
            {
              id:2,
              name:'新北市',
              area: [
                "板橋區",
                "新莊區",
                "泰山區",
                "林口區",
                "淡水區",
                "金山區",
                "八里區",
                "萬里區",
                "石門區",
                "三芝區",
                "瑞芳區",
                "汐止區",
                "平溪區",
                "貢寮區",
                "雙溪區",
                "深坑區",
                "石碇區",
                "新店區",
                "坪林區",
                "烏來區",
                "中和區",
                "永和區",
                "土城區",
                "三峽區",
                "樹林區",
                "鶯歌區",
                "三重區",
                "蘆洲區",
                "五股區",
              ],
            },
            {
              id:3,
              name:'基隆市',
              area:[
                "仁愛區",
                "中正區",
                "信義區",
                "中山區",
                "安樂區",
                "暖暖區",
                "七堵區",
              ],
            },
            {
              id:4,
              name:'桃園市',
              area:[
                "桃園區",
                "中壢區",
                "平鎮區",
                "八德區",
                "楊梅區",
                "蘆竹區",
                "龜山區",
                "龍潭區",
                "大溪區",
                "大園區",
                "觀音區",
                "新屋區",
                "復興區",
              ],
            },
            {
              id:5,
              name:'新竹縣',
              area:[
                "竹北市",
                "竹東鎮",
                "新埔鎮",
                "關西鎮",
                "峨眉鄉",
                "寶山鄉",
                "北埔鄉",
                "橫山鄉",
                "芎林鄉",
                "湖口鄉",
                "新豐鄉",
                "尖石鄉",
                "五峰鄉",
              ],
            },
            {
              id:6,
              name:'新竹市',
              area:[
                "東區",
                "北區",
                "香山區",
              ]
            },
            {
              id:7,
              name:'苗栗縣',
              area:[
                "苗栗市",
                "通霄鎮",
                "苑裡鎮",
                "竹南鎮",
                "頭份鎮",
                "後龍鎮",
                "卓蘭鎮",
                "西湖鄉",
                "頭屋鄉",
                "公館鄉",
                "銅鑼鄉",
                "三義鄉",
                "造橋鄉",
                "三灣鄉",
                "南庄鄉",
                "大湖鄉",
                "獅潭鄉",
                "泰安鄉",
              ]
            },
            {
              id:8,
              name:'臺中市',
              area: [
                "中區",
                "東區",
                "南區",
                "西區",
                "北區",
                "北屯區",
                "西屯區",
                "南屯區",
                "太平區",
                "大里區",
                "霧峰區",
                "烏日區",
                "豐原區",
                "后里區",
                "東勢區",
                "石岡區",
                "新社區",
                "和平區",
                "神岡區",
                "潭子區",
                "大雅區",
                "大肚區",
                "龍井區",
                "沙鹿區",
                "梧棲區",
                "清水區",
                "大甲區",
                "外埔區",
                "大安區",
              ],
            },
            {
              id:9,
              name:'南投縣',
              area: [
                "南投市",
                "埔里鎮",
                "草屯鎮",
                "竹山鎮",
                "集集鎮",
                "名間鄉",
                "鹿谷鄉",
                "中寮鄉",
                "魚池鄉",
                "國姓鄉",
                "水里鄉",
                "信義鄉",
                "仁愛鄉",
              ],
            },
            {
              id:10,
              name:'彰化縣',
              area: [
                "彰化市",
                "員林鎮",
                "和美鎮",
                "鹿港鎮",
                "溪湖鎮",
                "二林鎮",
                "田中鎮",
                "北斗鎮",
                "花壇鄉",
                "芬園鄉",
                "大村鄉",
                "永靖鄉",
                "伸港鄉",
                "線西鄉",
                "福興鄉",
                "秀水鄉",
                "埔心鄉",
                "埔鹽鄉",
                "大城鄉",
                "芳苑鄉",
                "竹塘鄉",
                "社頭鄉",
                "二水鄉",
                "田尾鄉",
                "埤頭鄉",
                "溪州鄉",
              ],
            },
            {
              id:11,
              name:'雲林縣',
              area:[
                "斗六市",
                "斗南鎮",
                "虎尾鎮",
                "西螺鎮",
                "土庫鎮",
                "北港鎮",
                "莿桐鄉",
                "林內鄉",
                "古坑鄉",
                "大埤鄉",
                "崙背鄉",
                "二崙鄉",
                "麥寮鄉",
                "臺西鄉",
                "東勢鄉",
                "褒忠鄉",
                "四湖鄉",
                "口湖鄉",
                "水林鄉",
                "元長鄉",
              ],
            },
            {
              id:12,
              name:'嘉義縣',
              area:[
                "太保市",
                "朴子市",
                "布袋鎮",
                "大林鎮",
                "民雄鄉",
                "溪口鄉",
                "新港鄉",
                "六腳鄉",
                "東石鄉",
                "義竹鄉",
                "鹿草鄉",
                "水上鄉",
                "中埔鄉",
                "竹崎鄉",
                "梅山鄉",
                "番路鄉",
                "大埔鄉",
                "阿里山鄉",
              ],
            },
            {
              id:13,
              name:'嘉義市',
              area:["東區", "西區"],
            },
            {
              id:14,
              name:'台南市',
              area:[
                "中西區",
                "東區",
                "南區",
                "北區",
                "安平區",
                "安南區",
                "永康區",
                "歸仁區",
                "新化區",
                "左鎮區",
                "玉井區",
                "楠西區",
                "南化區",
                "仁德區",
                "關廟區",
                "龍崎區",
                "官田區",
                "麻豆區",
                "佳里區",
                "西港區",
                "七股區",
                "將軍區",
                "學甲區",
                "北門區",
                "新營區",
                "後壁區",
                "白河區",
                "東山區",
                "六甲區",
                "下營區",
                "柳營區",
                "鹽水區",
                "善化區",
                "大內區",
                "山上區",
                "新市區",
                "安定區",
              ],
            },
            {
              id:15,
              name:'高雄市',
              area: [
                "楠梓區",
                "左營區",
                "鼓山區",
                "三民區",
                "鹽埕區",
                "前金區",
                "新興區",
                "苓雅區",
                "前鎮區",
                "小港區",
                "旗津區",
                "鳳山區",
                "大寮區",
                "鳥松區",
                "林園區",
                "仁武區",
                "大樹區",
                "大社區",
                "岡山區",
                "路竹區",
                "橋頭區",
                "梓官區",
                "彌陀區",
                "永安區",
                "燕巢區",
                "田寮區",
                "阿蓮區",
                "茄萣區",
                "湖內區",
                "旗山區",
                "美濃區",
                "內門區",
                "杉林區",
                "甲仙區",
                "六龜區",
                "茂林區",
                "桃源區",
                "那瑪夏區",
              ],
            },
            {
              id:15,
              name:'屏東縣',
              area: [
                "屏東市",
                "潮州鎮",
                "東港鎮",
                "恆春鎮",
                "萬丹鄉",
                "長治鄉",
                "麟洛鄉",
                "九如鄉",
                "里港鄉",
                "鹽埔鄉",
                "高樹鄉",
                "萬巒鄉",
                "內埔鄉",
                "竹田鄉",
                "新埤鄉",
                "枋寮鄉",
                "新園鄉",
                "崁頂鄉",
                "林邊鄉",
                "南州鄉",
                "佳冬鄉",
                "琉球鄉",
                "車城鄉",
                "滿州鄉",
                "枋山鄉",
                "霧台鄉",
                "瑪家鄉",
                "泰武鄉",
                "來義鄉",
                "春日鄉",
                "獅子鄉",
                "牡丹鄉",
                "三地門鄉",
              ],
            },
            {
              id:16,
              name:'宜蘭縣',
              area:[
                "宜蘭市",
                "羅東鎮",
                "蘇澳鎮",
                "頭城鎮",
                "礁溪鄉",
                "壯圍鄉",
                "員山鄉",
                "冬山鄉",
                "五結鄉",
                "三星鄉",
                "大同鄉",
                "南澳鄉",
              ],
            },
            {
              id:17,
              name:'花蓮縣',
              area:[
                "花蓮市",
                "鳳林鎮",
                "玉里鎮",
                "新城鄉",
                "吉安鄉",
                "壽豐鄉",
                "秀林鄉",
                "光復鄉",
                "豐濱鄉",
                "瑞穗鄉",
                "萬榮鄉",
                "富里鄉",
                "卓溪鄉",
              ],
            } ,
            {
              id:18,
              name:'臺東縣',
              area:[
                "臺東市",
                "成功鎮",
                "關山鎮",
                "長濱鄉",
                "海端鄉",
                "池上鄉",
                "東河鄉",
                "鹿野鄉",
                "延平鄉",
                "卑南鄉",
                "金峰鄉",
                "大武鄉",
                "達仁鄉",
                "綠島鄉",
                "蘭嶼鄉",
                "太麻里鄉",
              ],
            },
            {
              id:19,
              name:'澎湖縣',
              area: [
                "馬公市",
                "湖西鄉",
                "白沙鄉",
                "西嶼鄉",
                "望安鄉",
                "七美鄉",
              ],
            },
            {
              id:20,
              name: '金門縣',
              area: [
                "金城鎮",
                "金湖鎮",
                "金沙鎮",
                "金寧鄉",
                "烈嶼鄉",
                "烏坵鄉",
              ],
            },
            {
              id:21,
              name:'連江縣',
              area:["南竿鄉", "北竿鄉", "莒光鄉", "東引鄉"]
            }
          ],
        },
        methods: {
          credit_confirm() {
            if($('.receiver_name').val() != '' || $('.receiver_email').val() != '' || $('.receiver_phone').val() !='' || $('.deliver_name').val() !='' || $('.deliver_phone').val() !="" || this.mainArea != '請選擇縣市' || this.subArea != '請選擇分區' || this.address !=''){
              var strEmail = $('.receiver_email').val();
              
              emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
            
              if(strEmail.search(emailRule)!= -1){
                  console.log('ok')
                  let partten = /^09[0-9]{8}$/;
                  if(partten.test($('.receiver_phone').val())){
                    if(partten.test($('.deliver_phone').val())){
                      this.isShow = !this.isShow;
                    }else{
                      alert('收貨人手機格式錯誤')
                      ('.deliver_phone').val().focus();
                    }
                  }else{
                    alert('訂貨人手機格式錯誤');
                    $('.receiver.phone').focus();
                  }
              }else{
                  alert('信箱格式錯誤，請確認');
                  $('.receiver_email').focus();
              }
            }else{
              alert('請填妥所有訂單所需之資訊');
            }
          },
          turn_front(){
            $('.credit_card_img_front').css('transform', 'rotateY(0deg)')
            $('.credit_card_img_back').css('transform', 'rotateY(-180deg)')
          },
          turn_back(){
            $('.credit_card_img_front').css('transform', 'rotateY(180deg)')
            $('.credit_card_img_back').css('transform', 'rotateY(0deg)')
          },
          order_make(){
            $.ajax({
            method: 'POST',
            url: 'php/orderMake.php',
            data:{
              EMAIL: $('.receiver_email').val(),
              PHONE: $('.receiver_phone').val(),
              RECIPIENT: $('.deliver_name').val(),
              ORDER_PHONE: $('.deliver_phone').val(),
              CITY: this.mainArea,
              AREA: this.subArea,
              ADDRESS: this.address,
              TOTAL_PRICE: this.total_money,
              REMARKS: this.note,
              discount: this.cuppon_money,

            },
            dataType: 'text',
            success: function(response) {
              if(response == 'yes'){
                window.location.href='checkout_s3.html'
              }else{
                alert('錯誤');
                console.log(response);
              }
            },
            error: function(exception) {
                console.log(exception)
                alert("發生錯誤: " + exception.status);
            },
          });
          }
        },
        watch:{
          mainArea: function(newArea, oldArea){
            if(newArea == ''){
                this.area_arr = [];
            }else{
                const tempItem = this.area_data.find( typeItem  =>{
                    return typeItem.name == newArea;
                });
                this.area_arr =  tempItem.area;
            }
          },
          theSame: function(){
            if(this.theSame == true){
              let name = $('.receiver_name').val();
              let phone = $('.receiver_phone').val();
              $('.deliver_name').val(name);
              $('.deliver_phone').val(phone);
            }else{
              $('.deliver_name').val('');
              $('.deliver_phone').val('');
            }
          }
        },
        mounted() {
          let cart_items = JSON.parse(sessionStorage.getItem("cart_items"));
          let cuppon_box = JSON.parse(sessionStorage.getItem('cuppon_box'));
          let fruit_boxs = JSON.parse(sessionStorage.getItem("fruit_boxs"));
          let total_money = 0
          if(cart_items){
            this.cart_items = cart_items;
            cart_items.forEach(function(cart, i){
              total_money += cart.total_price;
              return total_money;
            })
          }
          if(cuppon_box){
            this.cuppon_money = parseInt(cuppon_box);
          }else{
            this.cuppon_money = 0;
          }
          if(fruit_boxs){
            this.fruit_boxs = fruit_boxs;
            fruit_boxs.forEach(function(box, i){
              total_money += box.total_price;
            })
          }
          console.log(this.fruit_boxs);
          
          this.total_money = total_money;
          this.total_money -= this.cuppon_money;
          this.total_item = cart_items.length + fruit_boxs.length;
        },
      });

      $("#go_top").on("click", function (e) {
        e.preventDefault();
        $("html, body").animate(
          {
            scrollTop: 0,
          },
          750
        );
      });
    </script>
  </body>
</html>
