<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="btn">送出</button>

    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
      let btn = document.getElementById("btn");
      let btn1 = document.getElementById("btn1");
      btn.addEventListener("click", function () {
        Email.send({
          Host: "smtp.gmail.com",
          Username: "goodvegetablebox@gmail.com",
          Password: "tfd102g4",
          To: "orange0720@hotmail.com",
          From: "良耕野菜<goodvegetablebox@gmail.com>",
          Subject: "test",
          Body: "感謝您註冊良耕野菜，您的驗證碼為11111111",
        }).then((message) => alert(message));
        // Email.send({
        //         SecureToken : "e770009a-b2a6-4ee2-ad73-a14941e5ed23",
        //         To : 's923127@gmail.com',
        //         From : 'goodvegetablebox@gmail.com',
        //         Subject : "良耕野菜驗證信",
        //         Body : "安安今天過的好嗎?"
        //     }).then(
        //     message => alert(message)
        // );
      });

    </script>
  </body>
</html>
