$padding_box:30px 0px;
//$padding_left:200px;
$box_distance:100px , 0px;

p{
    line-height: 25px;
}
// 標題介紹的裝飾圖案
.item_title{
    position:relative;
    padding-left:20px;
}
.item_title:before{
    content:"";
<<<<<<< HEAD
    background-image: url("../images/farm/aboutUs_title/straberry.png");
=======
    background-image: url(../images/farm/aboutUs_title/straberry.png);
>>>>>>> dev
    background-repeat: no-repeat;
    background-size: 50% auto;
    width:30px;
    height:50%;
    position:absolute;
    left:0px;
}
header{
    display: flex;
    justify-content: center;
    .video{
        width:100%;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        padding-top:30px;
        iframe{
            width:900px;
            height:500px;
            padding:10px;
            //RWD
            @include tablet{
                max-width: 900px;
                max-height: 400px;
                width:100%;
            };
            @include pad{
                max-width: 600px;
            };
            @include mobile{
                max-width: 500px;
                height:320px;
            };
        }
    }
}
.about_us_box{
    position:relative;
    width:100%;
    // 檸檬裝飾圖
    .bg_lemon_pic{
        position:absolute;
        left:160px;
        top:10px;
        img{
            position:absolute;
            width:150px;
        }
        @include pad{
            left:15px;
        };
        @include mobile{
            left:20px;
            img{
                width:80px;
            }
        };
    }
    h1{
        padding:20px 0px;
        text-align: center;
        font-weight: 700;
    }
    padding: $padding_box;
    .about_us_content{
        width:100%;
        padding:10px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:30px;
       .about_us_title{
            text-align: center;
            display:flex;
            h2{
                position: relative;
                @include farm_h2();
            }
            h2:after{
                @include underline();
            }
        }
        .about_us_text{
            max-width:800px;
            width:100%;
            padding:0px 10px;
            @include mobile{
                max-width: 500px;
            };
        }
        .farm_managers_box{
            display:flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            width:100%;
            max-width:1200px;
            padding:$padding_box;
            flex-wrap: wrap;
            .farm_managers_items_box{
                display:flex;
                position:relative;
                .farm_managers_items{
                    display:flex;
                    flex-direction: column;
                    padding:10px;
                    .manager_photo{
                        img{
                            width:100%;
                            height:100%;
                            border-radius: 50%;
                            max-width: 130px;
                            @include tablet{
                                max-width: 100px;
                            };
                            @include pad{
                                max-width: 90px;
                            };
                            @include mobile{
                                max-width: 80px;
                            };
                        }                
                    }
                    .manager_name{
                        text-align: center;
                    }
                }
                .items_up{
                    position:relative;
                }
                .items_down{
                    position:relative;
                    top:50px;
                    @include tablet{
                        top:0px;
                    };
                }
            }
        }
    }
  
}
.farm_introduction_box{
    display:flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    // border:1px solid red;
    width:100%;
    margin-top:50px;
    @include tablet{
        margin-top:0px;
    }
    h2{
        position: relative;
        @include farm_h2();
    }
    h2:after{
        @include underline();
    }
    .farm_introduction_scroll{
        //border:1px solid red;
        display:flex;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        width:100%;
        max-width:600px;
            .farm_environment_box{
                .farm_photo{
                    img{
                        width:100%;
                    }
                }
                .introduction_box{
                    .introduction_para{
                        background-color: $bkc_yellow;
                        border-radius: 30px;
                        padding:20px;
                        margin-top:20px;
                        width: 100%;
                        @include tablet{
                            background-color:transparent;
                            margin-top:0px;
                        };
                        h3{
                            @include farm_h3();
                            padding-left:20px;
                        }
                    }
                }
            }
    }
}
.farm_description_box{
    margin-top:100px;
    @include tablet{
        margin-top:0px;
    };
    .farm_descript_item{
        .farm_description_item_box{
            width:100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            position:relative;
            .about_farm{
                max-width:620px;
                background-color: #FFFFCF;
                //border:1px solid red;
                padding:20px;
                width:100%;
                height: 100%;
                flex-direction: column;
                vertical-align: middle;
                align-items: center;
                border-radius: 30px;
                margin:100px 0px;
                //border:1px solid red;
                @include tablet{
                    background-color:transparent;
                    margin:0px;
                };
                .farm_text{
                    h3{
                        @include farm_h3();
                        padding-left:20px;
                    }
                }
            }
            .farm_left{
                position:relative;
                right:10%;
                @include tablet{
                    right:0px;
                };
            }
            .farm_right{
                position:relative;
                left:10%;
                @include tablet{
                    left:0px;
                };
            }
            .farm_photo{
                flex-direction: column;
                vertical-align: middle;
                align-items: center;
                img{
                    width:100%;
                }
            }
            //第一區-動物裝飾圖
            .farm_building_materials{
                .farm_decoration_pic{
                    position:relative;
                    @include tablet{
                        display:none;
                    };
                    img{
                        position:absolute;
                        //border:1px solid red;
                        width:180px;
                        top:0px;
                        z-index: -1;
                        transform:translate(120px, 50%);
                        animation:cute_animal;
                        animation-duration: 4s;
                        animation-delay: 3s;
                        animation-iteration-count:infinite;
                        //animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
                        //animation-timing-function:all 5s cubic-bezier(0,.57,.67,.6);
                        animation-timing-function:ease-in-out：cubic-bezier(.42, 0, .58, 1);
                        animation-direction:alternate-reverse;
                    }
                    @keyframes cute_animal {
                        0% {
                            top:-80px; 
                          }
                        50% {
                            top:-100px; 
                          }
                        75%{
                            top:-230px; 
                        }  
                        100% {
                            top: -150px;
                        }  
                    }
                }
            }
            //第二區-植物裝飾圖
            .biodiversity{
                .farm_decoration_pic{
                    position:relative;
                    @include tablet{
                        display:none;
                    };
                    img{
                        position:absolute;
                        width:150px;
                        top:-150px;
                    }
                }
            }
            //第三區-動物裝飾圖
            .production_equipment{
                .farm_decoration_pic{
                    position:relative;
                    @include tablet{
                        display:none;
                    };
                    img{
                        position:absolute;
                        width:180px;
                        top:-120px;
                        right:100px;
                        z-index: -1;
                        transform:translate(120px, 50%);
                        animation:cute_animal;
                        animation-duration: 2s;
                        animation-delay: 3s;
                        animation-iteration-count:infinite;
                        //animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
                        //animation-timing-function:all 5s cubic-bezier(0,.57,.67,.6);
                        animation-timing-function:ease-in-out：cubic-bezier(.42, 0, .58, 1);
                        animation-direction:alternate-reverse;
                    }
                    @keyframes cute_animal {
                        0% {
                            top:-220px; 
                          }
                        50% {
                            top:-150px; 
                          }
                        75%{
                            top:-160px; 
                        }  
                        100% {
                            top: -130px;
                        }  
                    }
                }
            }
        }
    }
}
//footer種樹裝飾圖
.aboutus_footer_decoration_pic{
    position:relative;
    img{
        position: absolute;
        bottom:-150px;
        right: 15%;
        z-index: 1;
        @include tablet{
            display:none;
        }
    }
}
