.checkout_s2_shopping_detail{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    background-color: $bkc_lightorange;
    font-size: $h4;
    p{
        width: 80%;
        max-width: 400px;
        @include marginAuto();
        padding: 20px 0px 0px 0px;
        font-size: 20px;
        text-align: center;
    }
    .checkout_s2_shopping_detail_total{
        vertical-align: top;
        .detail_icon_open{
            display: inline-block;
            width: 20px;
            vertical-align: top;
            margin-left: 5%;
        }
    }  
}

@include tablet {
    .checkout_s2_shopping_detail{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        background-color: $bkc_lightorange;
        font-size: $h4;
        p{
            padding: 20px 0px 0px 0px;
            font-size: 20px;
        }
        .checkout_s2_shopping_detail_total{
            vertical-align: top;
            .detail_icon_open{
                display: inline-block;
                width: 20px;
                vertical-align: top;
                margin-left: 5%;
            }
        }  
    }
}

.checkout_s2_detail{
    width: 100%;
    display: none;
    .checkout_shopping_detail_block{
        margin-top: 20px;
        padding: 20px 0px;
        background-color: $green;
        color: $white;
        width: 100%;
        display: flex;
        align-self: center;
        font-size: $h3;
        @include pad {
            font-size: $h4;
        }
        @include mobile {
            font-size: $h5;
        }
        .checkout_shopping_detail_img{
            width: 25%;
            text-align: center;
        }
        .checkout_shopping_detail_name{
            width: 25%;
            text-align: center;
        }
        .checkout_shopping_detail_sum{
            width: 20%;
            text-align: center;
        }
        .checkout_shopping_detail_price,
        .checkout_shopping_detail_total{
            width: 15%;
            text-align: center;
        }
    }
    .checkout_shopping_product_detail{
        width: 100%;
        max-width: 1200px;
        padding: 30px 0px;
        display: flex;
        background-color: $white;
        font-size: $h3;
        @include pad {
            font-size: $h4;
        }
        @include mobile {
            font-size: $h5;
        }
        .checkout_shopping_product_detail_img{
            width: 25%;
            align-self: center;
            text-align: center;
            img{
                width: 50%
            }
        }
        .checkout_shopping_product_detail_name{
            width: 25%;
            align-self: center;
            text-align: center;
        }
        .checkout_shopping_product_detail_sum{
            width: 20%;
            align-self: center;
            text-align: center;
            justify-content: center;
            display: flex;
            }
        .checkout_shopping_product_detail_price,
        .checkout_shopping_product_detail_total{
            width: 15%;
            align-self: center;
            text-align: center;
        }
    }
    .checkout_shopping_detail_keep_shopping{
        margin-top: 10px;
        @include a_link();
        display: block;
        text-align: right;
    }
}

.chekout_s2_order_detail_block{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 70px;
    display: flex;
    .checkout_s2_receiver_infro{
        width: 45%;
        background-color: $white;
        align-self: flex-start;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        input{
            border: 1px solid $brown;
        }
        .checkout_s2_receiver_infro_group{
            margin-top: 10px;
            padding: 10px 10%;
            input{
                margin-top: 5px;
                display: block;
                width: 100%;
                padding: 5px;
                font-size: $h4;
            }
            select{
                @extend input
            }
        }
    }
    .checkout_s2_deliver_infro{
        width: 45%;
        margin-left: 10%;
        background-color: $white;
        font-size: 0px;
        align-self: flex-start;
        padding-bottom: 20px;
        h3{
            font-size: $h3;
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        input{
            border: 1px solid $brown;
        }
        .checkout_s2_deliver_infro_check{
            display: block;
            margin: 10px 0px;
            padding: 10px 10%;
            font-size: $h4;
        }
        .checkout_s2_deliver_infro_group{
            margin-top: 10px;
            padding: 10px 10%;
            font-size: 0px;
            label{
                display: block;
                margin: 5px 0px;
                font-size: $h4;
            }
            input{
                margin-top: 5px;
                display: block;
                width: 100%;
                padding: 5px;
                font-size: $h4;
            }
            hr{
                margin-top:15px;
            }
            .checkout_s2_city{
                display: inline-block;
                width: 45%;
                padding: 5px;
                font-size: $h4;
            }
            .checkout_s2_area{
                @extend.checkout_s2_city;
                margin-left: 10%;
            }
            p{
                font-size: $h4;
            }
        }
    }
}

@include tablet {
    .chekout_s2_order_detail_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 70px;
        display: flex;
        .checkout_s2_receiver_infro{
            width: 45%;
            background-color: $white;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            .checkout_s2_receiver_infro_group{
                margin-top: 10px;
                padding: 10px 10%;
                input{
                    margin-top: 5px;
                    display: block;
                    width: 100%;
                    padding: 5px;
                    font-size: $h4;
                }
            }
        }
        .checkout_s2_deliver_infro{
            width: 45%;
            margin-left: 10%;
            background-color: $white;
            font-size: 0px;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                font-size: $h3;
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            .checkout_s2_deliver_infro_check{
                display: block;
                margin: 10px 0px;
                padding: 10px 10%;
                font-size: $h4;
            }
            .checkout_s2_deliver_infro_group{
                margin-top: 10px;
                padding: 10px 10%;
                font-size: 0px;
                label{
                    display: block;
                    margin: 5px 0px;
                    font-size: $h4;
                }
                input{
                    margin-top: 5px;
                    display: block;
                    width: 100%;
                    padding: 5px;
                    font-size: $h4;
                }
                hr{
                    margin-top:15px;
                }
                .checkout_s2_city{
                    display: inline-block;
                    width: 45%;
                    padding: 5px;
                    font-size: $h4;
                }
                .checkout_s2_area{
                    margin-left: 10%;
                }
                p{
                    font-size: $h4;
                }
            }
        }
    }
}

@include pad {
    .chekout_s2_order_detail_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 70px;
        display: block;
        .checkout_s2_receiver_infro{
            width: 90%;
            @include marginAuto();
            background-color: $white;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            .checkout_s2_receiver_infro_group{
                margin-top: 10px;
                padding: 10px 10%;
                input{
                    margin-top: 5px;
                    display: block;
                    width: 100%;
                    padding: 5px;
                    font-size: $h4;
                }
            }
        }
        .checkout_s2_deliver_infro{
            width: 90%;
            @include marginAuto();
            margin-top: 30px;
            background-color: $white;
            font-size: 0px;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                font-size: $h3;
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            .checkout_s2_deliver_infro_check{
                display: block;
                margin: 10px 0px;
                padding: 10px 10%;
                font-size: $h4;
            }
            .checkout_s2_deliver_infro_group{
                margin-top: 10px;
                padding: 10px 10%;
                font-size: 0px;
                label{
                    display: block;
                    margin: 5px 0px;
                    font-size: $h4;
                }
                input{
                    margin-top: 5px;
                    display: block;
                    width: 100%;
                    padding: 5px;
                    font-size: $h4;
                }
                hr{
                    margin-top:15px;
                }
                .checkout_s2_city{
                    display: inline-block;
                    width: 45%;
                    padding: 5px;
                    font-size: $h4;
                }
                .checkout_s2_area{
                    margin-left: 10%;
                }
                p{
                    font-size: $h4;
                }
            }
        }
    }
}


.chekout_s2_order_other_block{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 0px;
    display: flex;
    .chekout_s2_order_other_block_note{
        width: 45%;
        background-color: $white;
        align-self: flex-start;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        textarea{
            font-size: $h4;
            display: block;
            padding: 10px;
            margin: 20px 10% 0px 10%;
            width: 80%;
            border:1px solid $brown;
        }
    }
    .chekout_s2_order_other_block_pay{
        width: 45%;
        margin-left: 10%;
        margin-top: 70px;
        background-color: $white;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        p{
            padding: 20px 0 0 10%;
            font-size: $h3;
        }
    }
}

@include tablet {
    .chekout_s2_order_other_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 0px;
        display: flex;
        .chekout_s2_order_other_block_note{
            width: 45%;
            background-color: $white;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            textarea{
                display: block;
                padding: 10px;
                margin: 20px 10% 0px 10%;
                width: 80%
            }
        }
        .chekout_s2_order_other_block_pay{
            width: 45%;
            margin-left: 10%;
            margin-top: 70px;
            background-color: $white;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            p{
                padding: 20px 0 0 10%;
                font-size: $h3;
            }
        }
    }
}

@include pad {
    .chekout_s2_order_other_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 0px;
        display: block;
        .chekout_s2_order_other_block_note{
            width: 90%;
            @include marginAuto();
            margin-top: 40px;
            background-color: $white;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            textarea{
                display: block;
                padding: 10px;
                margin: 20px 10% 0px 10%;
                width: 80%
            }
        }
        .chekout_s2_order_other_block_pay{
            width: 90%;
            @include marginAuto();
            margin-top: 40px;
            background-color: $white;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            p{
                padding: 20px 0 0 10%;
                font-size: $h3;
            }
        }
    }
}

.chekout_s2_order_privacy{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
    label{
        margin-left: 10px;
    }
    .chekout_s2_order_privacy_next{
        button{
            @include btn(250px);
            padding: 10px;
            margin: 50px 50px;
            font-size: 20px;
        }
    }
}

@include tablet {
    .chekout_s2_order_privacy{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 70px;
        font-size: 20px;
        text-align: center;
        label{
            margin-left: 10px;
        }
        .chekout_s2_order_privacy_next{
            button{
                @include btn(200px);
                padding: 10px;
                margin: 50px 5%;
                font-size: 20px;
            }
        }
    }
}

@include mobile {  //手機板
    .chekout_s2_order_privacy{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
        label{
            margin-left: 10px;
        }
        .chekout_s2_order_privacy_next{
            button{
                @include btn(50%);
                padding: 10px;
                margin: 30px auto;
                font-size: 20px;
                display: block;
            }
        }
    }
}


.credit_bkc{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    @include tablet {
        z-index: 499;
        overflow-y: scroll;
    }
}


.credit_form{
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px 2%;
    background-color: $bkc_yellow;
    .step_back_btn{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        img{
            display: inline-block;
            width: 50px;
            height: 50px;
        }
    }
    .credit_form_block{
        display: flex;
        margin-top: 50px;
        .credit_form_left_block{
            flex: 1 1 50%;
            position: relative;
            &:hover{
                .credit_card_img_front{
                    transform: rotateY(180deg);
                }
                .credit_card_img_back{
                    transform: rotateY(0deg);
                }
            }
            .credit_card_img_front{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                backface-visibility: hidden;
                transition: 0.6s;
                transform-style: preserve-3d;
                @include marginAuto();
                .card_img{
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    backface-visibility: hidden;
                    transition: 0.6s;
                    transform-style: preserve-3d;
                    @include marginAuto();
                }
                .left_block_name{
                    padding-top: 18%;
                    padding-left: 30%;
                    text-align: left;
                    p{
                        font-size: $h4;
                        color: black;
                        padding: 5px 0px;
                        &:last-child{
                            font-size: $h3;
                            padding-left: 10%;
                            color:$font_color;
                            min-height: 40px;
                        }
                    }
                }
                .left_block_number{
                    text-align: left;
                    padding-left: 30%;
                    padding-top: 2%;
                    margin-bottom: 10px;
                    p{
                        font-size: $h4;
                        color: black;
                        padding: 5px 0;
                        &:last-child{
                            font-size: $h3;
                            padding-left: 5px;
                            color:$font_color;
                            min-height: 40px;
                        }
                    }
                }
            }
            .credit_card_img_back{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                backface-visibility: hidden;
                transition: 0.6s;
                transform-style: preserve-3d;
                transform: rotateY(-180deg);
                @include marginAuto();
                .card_img{
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    backface-visibility: hidden;
                    transition: 0.6s;
                    transform-style: preserve-3d;
                    @include marginAuto();
                }
                .left_block_name{
                    padding-top: 18%;
                    padding-left: 30%;
                    text-align: left;
                    p{
                        font-size: $h4;
                        color: black;
                        padding: 5px 0px;
                        &:last-child{
                            font-size: $h3;
                            padding-left: 20px;
                            color:$font_color;
                            min-height: 40px;
                        }
                    }
                }
                .left_block_other{
                    padding-top: 10%;
                    text-align: left;
                    padding-left: 10%;
                    .left_block_valid{
                        color: black;
                        font-size: $h5;
                        display: inline-block;
                        padding-bottom: 5px;
                        vertical-align: top;
                        span{
                            display: block;
                            color:$font_color;
                            font-size: $h3;
                            padding-top: 10px;
                            margin: 0
                        }
                    }
                    .left_block_security{
                        @extend .left_block_valid;
                        margin-left: 70px;
                    }
                }
            }
        }
        .credit_form_right_block{
            // width: 50%;
            flex: 0 1 50%;
            padding:0 5%;
            text-align: left;
            .right_block_name{
                width: 80%;
                margin-bottom: 30px;
                @include marginAuto();
                label{
                    display: block;
                    margin-bottom: 10px;
                    font-size: $h3;
                }
                input{
                    display: block;
                    width: 100%;
                    padding: 10px;
                    font-size: $h3;
                    border: 1px solid $brown;
                }
            }
            .right_block_number{
                @extend .right_block_name
            }
            .right_block_other{
                font-size: 0;
                display: flex;
                width: 80%;
                @include marginAuto();
                .right_block_valid{
                    font-size: $h3;
                    width: 40%;
                    label{
                        display: block;
                        margin-bottom: 5px;
                    }
                    input{
                        display: block;
                        width: 100%;
                        padding: 10px;
                        font-size: $h3;
                        border: 1px solid $brown;
                    }
                }
                .right_block_security{
                    @extend .right_block_valid;
                    margin-left: 20%;
                }
            }
        }
    }
    .credit_detail_confirm{
        @include btn(30%);
        margin-top: 40px;
    }
}

@include tablet { 
    .credit_form{
        position: relative;
        z-index: 500;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: auto;
        padding: 30px 5%;
        background-color: $bkc_yellow;
        margin-bottom: 80px;
        .step_back_btn{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            img{
                display: inline-block;
                width: 30px;
                height: 30px;
            }
        }
        .credit_form_block{
            display: block;
            margin-top: 30px;
            overflow-y: auto;
            .credit_form_left_block{
                width: 60%;
                @include marginAuto();
                padding: 0 5%;
                height: 350px;
                .credit_card_img_front{
                    @include marginAuto();
                    width: 100%;
                    height: 100%;
                    left: 0;
                    .left_block_name{
                        padding-top: 14%;
                        padding-left: 30%;
                        text-align: left;
                        p{
                            font-size: $h4;
                            color: black;
                            padding: 5px 0px;
                            &:last-child{
                                font-size: $h4;
                                padding-left: 10%;
                                color:$font_color;
                                min-height: 40px;
                            }
                        }
                    }
                    .left_block_number{
                        text-align: left;
                        padding-left: 30%;
                        padding-top: 0%;
                        margin-bottom: 10px;
                        p{
                            font-size: $h4;
                            color: black;
                            padding: 5px 0;
                            &:last-child{
                                font-size: $h4;
                                padding-left: 5px;
                                color:$font_color;
                                min-height: 40px;
                            }
                        }
                    }
                }
                .credit_card_img_back{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .credit_form_right_block{
                width: 80%;
                @include marginAuto();
                padding:0 5%;
                text-align: left;
                .right_block_name{
                    width: 100%;
                    margin-bottom: 20px;
                    @include marginAuto();
                    label{
                        display: block;
                        margin-bottom: 10px;
                        font-size: $h3;
                    }
                    input{
                        display: block;
                        width: 100%;
                        padding: 10px;
                        font-size: $h3;
                    }
                }
                .right_block_other{
                    font-size: 0;
                    display: flex;
                    width: 100%;
                    @include marginAuto();
                    .right_block_valid{
                        font-size: $h3;
                        width: 40%;
                        label{
                            display: block;
                            margin-bottom: 5px;
                        }
                        input{
                            display: block;
                            width: 100%;
                            padding: 10px;
                            font-size: $h3;
                        }
                    }
                    .right_block_security{
                        margin-left: 20%;
                    }
                }
            }
        }
        .credit_detail_confirm{
            margin-top: 50px;
            @include btn(30%);
        }
    }
}

@include pad {   // 內含手機
    .credit_form{
        position: relative;
        z-index: 500;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: auto;
        padding: 30px 5%;
        background-color: $bkc_yellow;
        margin-bottom: 80px;
        .step_back_btn{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            img{
                display: inline-block;
                width: 30px;
                height: 30px;
            }
        }
        .credit_form_block{
            display: block;
            margin-top: 30px;
            overflow-y: auto;
            .credit_form_left_block{
                width: 90%;
                @include marginAuto();
                height: 300px;
                @include mobile {
                    display: none;
                    height: 240px
                }
                .credit_card_img_front{
                    @include marginAuto();
                    width: 450px;
                    height: 330px;
                    left: 0%;
                    @include mobile {
                        width: 100%;
                        height: 250px;
                    }
                   
                }
                .credit_card_img_back{
                    width: 450px;
                    height: 330px;
                    position: absolute;
                    @include marginAuto();
                    top: 0;
                    left: 0%;
                    @include mobile {
                        width: 100%;
                        height: 250px;
                    }
                    
                }
            }
            .credit_form_right_block{
                width: 80%;
                @include marginAuto();
                padding:0 5%;
                text-align: left;
                @include mobile {
                    margin-top: 30px;
                }
                .right_block_name{
                    width: 100%;
                    margin-bottom: 20px;
                    @include marginAuto();
                    label{
                        display: block;
                        margin-bottom: 10px;
                        font-size: $h3;
                    }
                    input{
                        display: block;
                        width: 100%;
                        padding: 10px;
                        font-size: $h3;
                    }
                }
                .right_block_other{
                    font-size: 0;
                    display: flex;
                    width: 100%;
                    @include marginAuto();
                    @include mobile {
                        display: block;
                    }
                    .right_block_valid{
                        font-size: $h3;
                        width: 40%;
                        @include mobile {
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        label{
                            display: block;
                            margin-bottom: 5px;
                        }
                        input{
                            display: block;
                            width: 100%;
                            padding: 10px;
                            font-size: $h3;
                        }
                    }
                    .right_block_security{
                        margin-left: 20%;
                        @include mobile {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .credit_detail_confirm{
            margin-top: 20px;
            @include btn(30%);
            @include mobile {
                margin-top: 10px;
                @include btn (50%);
            }
        }
    }
}


.detail_icon_close{
    
}