.checkout_s3_ordercheck{
    width: 100%;
    text-align: center;
    @include marginAuto();
    img{
        display: inline-block;
        max-width: 20%;
    }
    h2{
        margin-top: 30px;
    }
}

.checkout_s3_order_num_block{
    font-size: 0;
    width: 90%;
    max-width: 1200px;
    margin-top: 0px;
    &:first-child{
        margin-top: 50px;
    }
    @include marginAuto();
    .order_num{
        display: inline-block;
        width: 40%;
        text-align: center;
        padding: 15px;
        font-size: $h3;
        background-color: $bkc_lightorange;
        border: 1px solid $brown;
        
    }
    .order_num_detail{
        display: inline-block;
        width: 60%;
        text-align: center;
        padding: 15px;
        font-size: $h3;
        background-color: $white;
        border: 1px solid $brown;
    }
}

@include pad{
    .checkout_s3_order_num_block{
        .order_num{
            font-size: $h4;
        }
        .order_num_detail{
            font-size: $h4;
        }
    }
}

div.checkout_s3_order_detail{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 50px;
    font-size: $h3;
    .checkout_s3_order_detail_block{
        margin-top: 20px;
        padding: 20px 0px;
        background-color: $bkc_lightorange;
        width: 100%;
        display: flex;
        align-self: center;
        .checkout_s3_order_detail_img{
            width: 20%;
            text-align: center;
        }
        .checkout_s3_order_detail_name{
            width: 20%;
            text-align: center;
        }
        .checkout_s3_order_detail_sum{
            width: 20%;
            text-align: center;
        }
        .checkout_s3_order_detail_price,
        .checkout_s3_order_detail_total{
            width: 20%;
            text-align: center;
        }
    }
    .checkout_s3_order_product_detail{
        width: 100%;
        max-width: 1200px;
        padding: 30px 0px;
        display: flex;
        flex-wrap: wrap;
        background-color: $white;
        font-size: $h3;
        .checkout_s3_order_product_detail_img{
            width: 20%;
            align-self: center;
            text-align: center;
            img{
                width: 50%
            }
        }
        .checkout_s3_order_product_detail_name{
            width: 20%;
            align-self: center;
            text-align: center;
        }
        .checkout_s3_order_product_detail_sum{
            width: 20%;
            align-self: center;
            text-align: center;
            justify-content: center;
            display: flex;
        }
        .checkout_s3_order_product_detail_price,
        .checkout_s3_order_product_detail_total{
            width: 20%;
            align-self: center;
            text-align: center;
        }
    }
    hr{
        width: 95%;
        @include marginAuto();
    }
    .order_total_price{
        padding: 20px 20px 20px 0px;
        text-align: right;
        background-color: $white;
    }
}

@include pad {  //內含手機
    div.checkout_s3_order_detail{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 50px;
        font-size: $h4;
        @include mobile {
            font-size: $h5;
        }
        .checkout_s3_order_detail_block{
            margin-top: 20px;
            padding: 20px 0px;
            background-color: $bkc_lightorange;
            width: 100%;
            display: flex;
            align-self: center;
            .checkout_s3_order_detail_img{
                width: 29%;
                text-align: center;
            }
            .checkout_s3_order_detail_name{
                width: 29%;
                text-align: center;
            }
            .checkout_s3_order_detail_sum{
                width: 19%;
                text-align: center;
            }
            .checkout_s3_order_detail_price,
            .checkout_s3_order_detail_total{
                width: 14%;
                text-align: center;
            }
        }
        .checkout_s3_order_product_detail{
            width: 100%;
            max-width: 1200px;
            display: flex;
            flex-wrap: wrap;
            background-color: $white;
            font-size: $h4;
            @include mobile {
                font-size: $h5;
            }
            .checkout_s3_order_product_detail_img{
                width: 29%;
                align-self: center;
                text-align: center;
                img{
                    width: 50%
                }
            }
            .checkout_s3_order_product_detail_name{
                width: 29%;
                align-self: center;
                text-align: center;
            }
            .checkout_s3_order_product_detail_sum{
                width: 14%;
                align-self: center;
                text-align: center;
                justify-content: center;
                display: flex;
            }
            .checkout_s3_order_product_detail_price,
            .checkout_s3_order_product_detail_total{
                width: 14%;
                align-self: center;
                text-align: center;
            }
        }
        hr{
            width: 95%;
            @include marginAuto();
        }
        .order_total_price{
            padding: 20px 20 20px 0px;
            text-align: right;
            background-color: $white;
        }
    }
}

#checkout_s3{
    .checkout_s3_other_product{
        // width: 80%;  
        max-width: 1200px;
        @include marginAuto();
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
        .product_link_block{
            width: 100%;
            a{
                display: inline-block;
                margin: 30px 0%;
                position: relative;
                &:hover{
                    &::after{
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                }
                
                &:nth-child(2){
                    margin: 30px 5%;
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0);
                    transition: 0.5s
                }
            }
        }
        .order_keep_shopping{
            @include btn(40%);
        }
    }
}



@include tablet {
    .checkout_s3_other_product{
        width: 80%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
        font-size: 0px;
        .product_link_block{
            a{
                width: 30%;
                display: inline-block;
                margin: 40px 0%;
                &:nth-child(2){
                    margin: 30px 5%;
                }
                img{
                    max-width: 100%
                }
            }
        }
        .order_keep_shopping{
            @include btn(40%);
        }
    }
}

@include pad {
    .checkout_s3_other_product{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 0px;
        .product_link_block{
            a{
                width: 30%;
                display: inline-block;
                margin: 30px 0%;
                &:nth-child(2){
                    margin: 30px 5%;
                }
                img{
                    max-width: 100%
                }
            }
        }
        .order_keep_shopping{
            @include btn(60%);
        }
    }
}