input{
    &:focus{
        outline: 1px solid $brown;
    }
}

select{
    &:focus{
        outline: 1px solid $brown;
    }
}

textarea{
    &:focus{
        outline: 1px solid $brown;
    }
}

.checkout_s2_shopping_detail{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    background-color: $bkc_lightorange;
    font-size: $h4;
    p{
        width: 80%;
        max-width: 400px;
        @include marginAuto();
        padding: 10px 0px 10px 0px;
        font-size: $h4;
        text-align: center;
    }
    .checkout_s2_shopping_detail_total{
        vertical-align: top;
        .detail_icon_open{
            display: inline-block;
            width: 20px;
            vertical-align: top;
            margin-left: 5%;
        }
    }  
}

@include tablet {
    .checkout_s2_shopping_detail{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        background-color: $bkc_lightorange;
        font-size: $h4;
        p{
            @include pad{
                font-size: $h5;
            }
        }
        .checkout_s2_shopping_detail_total{
            vertical-align: top;
            .detail_icon_open{
                display: inline-block;
                width: 20px;
                vertical-align: top;
                margin-left: 5%;
            }
        }  
    }
}

.checkout_s2_detail{
    width: 100%;
    display: none;
    .checkout_shopping_detail_block{
        margin-top: 20px;
        padding: 20px 0px;
        background-color: $green;
        color: $white;
        width: 100%;
        display: flex;
        align-self: center;
        font-size: $h3;
        @include pad {
            font-size: $h4;
        }
        @include mobile {
            font-size: $h5;
        }
        .checkout_shopping_detail_img{
            width: 25%;
            text-align: center;
        }
        .checkout_shopping_detail_name{
            width: 25%;
            text-align: center;
        }
        .checkout_shopping_detail_sum{
            width: 20%;
            text-align: center;
        }
        .checkout_shopping_detail_price,
        .checkout_shopping_detail_total{
            width: 15%;
            text-align: center;
        }
    }
    .checkout_shopping_product_detail{
        width: 100%;
        max-width: 1200px;
        padding: 30px 0px;
        display: flex;
        flex-wrap: wrap;
        background-color: $white;
        font-size: $h3;
        @include pad {
            font-size: $h4;
        }
        @include mobile {
            font-size: $h5;
        }
        .checkout_shopping_product_detail_img{
            width: 25%;
            align-self: center;
            text-align: center;
            img{
                width: 50%
            }
        }
        .checkout_shopping_product_detail_name{
            width: 25%;
            align-self: center;
            text-align: center;
        }
        .checkout_shopping_product_detail_sum{
            width: 20%;
            align-self: center;
            text-align: center;
            justify-content: center;
            display: flex;
            }
        .checkout_shopping_product_detail_price,
        .checkout_shopping_product_detail_total{
            width: 15%;
            align-self: center;
            text-align: center;
        }
        .fruit_box_detail{
            width: 100%;
            position: relative;
            @include mobile{
                margin-top: 20px;
            }
            .box_arrow_block{
                text-align: center;
                cursor: pointer;
                font-size: $h4;
                @include mobile{
                    font-size: $h5;
                }
                img{
                    display: block;
                    @include marginAuto();
                    margin-top: 20px;
                    transition: 0.5s;
                }
            }
            ul{
                display: none;
                margin-top: 20px;
                li{
                    margin: 5px 0px;
                    text-align: center;
                    font-size: $h4;
                    @include mobile{
                        font-size: $h5;
                    }
                }
            }
        }
    }
}

.chekout_s2_order_detail_block{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 70px;
    display: flex;
    .checkout_s2_receiver_infro{
        width: 45%;
        background-color: $white;
        align-self: flex-start;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        input{
            border: 1px solid $brown;
        }
        .checkout_s2_receiver_infro_group{
            margin-top: 10px;
            padding: 10px 10%;
            input{
                margin-top: 5px;
                display: block;
                width: 100%;
                padding: 5px;
                font-size: $h4;
            }
            select{
                @extend input
            }
        }
    }
    .checkout_s2_deliver_infro{
        width: 45%;
        margin-left: 10%;
        background-color: $white;
        font-size: 0px;
        align-self: flex-start;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        input{
            border: 1px solid $brown;
        }
        .checkout_s2_deliver_infro_check{
            display: block;
            margin: 10px 0px;
            padding: 10px 10%;
            font-size: $h4;
            input{
                &:focus{
                    outline: none;
                }
            }
        }
        .checkout_s2_deliver_infro_group{
            margin-top: 10px;
            padding: 10px 10%;
            font-size: 0px;
            label{
                display: block;
                margin: 5px 0px;
                font-size: $h4;
            }
            input{
                margin-top: 5px;
                display: block;
                width: 100%;
                padding: 5px;
                font-size: $h4;
            }
            hr{
                margin-top:15px;
            }
            .checkout_s2_city{
                display: inline-block;
                width: 45%;
                padding: 5px;
                font-size: $h4;
            }
            .checkout_s2_area{
                @extend.checkout_s2_city;
                margin-left: 10%;
            }
            p{
                font-size: $h4;
            }
        }
    }
}

@include tablet {
    .chekout_s2_order_detail_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 70px;
        display: flex;
        .checkout_s2_receiver_infro{
            width: 45%;
            background-color: $white;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            .checkout_s2_receiver_infro_group{
                margin-top: 10px;
                padding: 10px 10%;
                input{
                    margin-top: 5px;
                    display: block;
                    width: 100%;
                    padding: 5px;
                    font-size: $h4;
                }
            }
        }
        .checkout_s2_deliver_infro{
            width: 45%;
            margin-left: 10%;
            background-color: $white;
            font-size: 0px;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                font-size: $h3;
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            .checkout_s2_deliver_infro_check{
                display: block;
                margin: 10px 0px;
                padding: 10px 10%;
                font-size: $h4;
                
            }
            .checkout_s2_deliver_infro_group{
                margin-top: 10px;
                padding: 10px 10%;
                font-size: 0px;
                label{
                    display: block;
                    margin: 5px 0px;
                    font-size: $h4;
                }
                input{
                    margin-top: 5px;
                    display: block;
                    width: 100%;
                    padding: 5px;
                    font-size: $h4;
                }
                hr{
                    margin-top:15px;
                }
                .checkout_s2_city{
                    display: inline-block;
                    width: 45%;
                    padding: 5px;
                    font-size: $h4;
                }
                .checkout_s2_area{
                    margin-left: 10%;
                }
                p{
                    font-size: $h4;
                }
            }
        }
    }
}

@include pad {
    .chekout_s2_order_detail_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 70px;
        display: block;
        .checkout_s2_receiver_infro{
            width: 90%;
            @include marginAuto();
            background-color: $white;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                font-size: $h4;
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            .checkout_s2_receiver_infro_group{
                margin-top: 10px;
                padding: 10px 10%;
                input{
                    margin-top: 5px;
                    display: block;
                    width: 100%;
                    padding: 5px;
                    font-size: $h5;
                }
            }
        }
        .checkout_s2_deliver_infro{
            width: 90%;
            @include marginAuto();
            margin-top: 30px;
            background-color: $white;
            font-size: 0px;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                font-size: $h4;
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            .checkout_s2_deliver_infro_check{
                display: block;
                margin: 10px 0px;
                padding: 10px 10%;
                font-size: $h5;
            }
            .checkout_s2_deliver_infro_group{
                margin-top: 10px;
                padding: 10px 10%;
                font-size: 0px;
                label{
                    display: block;
                    margin: 5px 0px;
                    font-size: $h5;
                }
                input{
                    margin-top: 5px;
                    display: block;
                    width: 100%;
                    padding: 5px;
                    font-size: $h5;
                }
                hr{
                    margin-top:15px;
                }
                .checkout_s2_city{
                    display: inline-block;
                    width: 45%;
                    padding: 5px;
                    font-size: $h5;
                }
                .checkout_s2_area{
                    margin-left: 10%;
                }
                p{
                    font-size: $h5;
                }
            }
        }
    }
}


.chekout_s2_order_other_block{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 0px;
    display: flex;
    .chekout_s2_order_other_block_note{
        width: 45%;
        background-color: $white;
        align-self: flex-start;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        textarea{
            font-size: $h4;
            display: block;
            padding: 10px;
            margin: 20px 10% 0px 10%;
            width: 80%;
            border:1px solid $brown;
        }
    }
    .chekout_s2_order_other_block_pay{
        width: 45%;
        margin-left: 10%;
        margin-top: 70px;
        background-color: $white;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        p{
            padding: 20px 0 0 10%;
            font-size: $h3;
        }
    }
}

@include tablet {
    .chekout_s2_order_other_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 0px;
        display: flex;
        .chekout_s2_order_other_block_note{
            width: 45%;
            background-color: $white;
            align-self: flex-start;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            textarea{
                display: block;
                padding: 10px;
                margin: 20px 10% 0px 10%;
                width: 80%
            }
        }
        .chekout_s2_order_other_block_pay{
            width: 45%;
            margin-left: 10%;
            margin-top: 70px;
            background-color: $white;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            p{
                padding: 20px 0 0 10%;
                font-size: $h3;
            }
        }
    }
}

@include pad {
    .chekout_s2_order_other_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 0px;
        display: block;
        .chekout_s2_order_other_block_note{
            width: 90%;
            @include marginAuto();
            margin-top: 40px;
            background-color: $white;
            padding-bottom: 20px;
            h3{
                font-size: $h4;
                background-color: $bkc_lightorange;
                padding: 10px 10%;
            }
            textarea{
                display: block;
                padding: 10px;
                margin: 20px 10% 0px 10%;
                width: 80%;
                font-size: $h5;
            }
        }
        .chekout_s2_order_other_block_pay{
            width: 90%;
            @include marginAuto();
            margin-top: 40px;
            background-color: $white;
            padding-bottom: 20px;
            h3{
                background-color: $bkc_lightorange;
                padding: 10px 10%;
                font-size: $h4;
            }
            p{
                padding: 20px 0 0 10%;
                font-size: $h5;
            }
        }
    }
}

.chekout_s2_order_privacy{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
    input{
        &:focus{
            outline: none;
        }
    }
    .chekout_s2_order_privacy_next{
        button{
            @include btn(250px);
            padding: 10px;
            margin: 50px 50px;
            font-size: 20px;
        }
    }
    a{
        color: darkgreen;
    }
}

@include tablet {
    .chekout_s2_order_privacy{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 70px;
        font-size: 20px;
        text-align: center;
        .chekout_s2_order_privacy_next{
            button{
                @include btn(200px);
                padding: 10px;
                margin: 50px 5%;
                font-size: 20px;
            }
        }
    }
}

@include mobile {  //手機板
    .chekout_s2_order_privacy{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 40px;
        font-size: $h4;
        text-align: center;
        label{
            font-size: $h5
        }
        .chekout_s2_order_privacy_next{
            button{
                @include btn(50%);
                padding: 10px;
                margin: 30px auto;
                font-size: $h5;
                display: block;
            }
        }
    }
}

.error{
    border: 2px solid $red !important;
}
