//手機版標題

.fruit_title {
  h2 {
    display: block;
    width: 80%;
    @include marginAuto();
    text-align: center;
    padding-top: 50px;
  }
  .under_line {
    border-top: 5px solid #ffbc53;
    width: 120px;
    @include marginAuto();
    margin-top: 5px;
    opacity: 0.5;
    //padding-top: 50px;
  }
}

//價位按鈕
.price_all {
  max-width: 1000px;
  width: 80%;
  @include marginAuto();

  .select_amount {
    width: 200px;
    max-width: 1000px;
    padding: 20px 0 20px 0;
    margin: auto;
  }

  .box_price_butten {
    width: 300px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    button {
      margin-left: 15px;
      font-weight: 700;
    }
    @include mobile {
      
    }
    .id1 {
      background-color: #91c359;
    }
  }
}

.box_price_butten {
  button {
    @include btn_small(100px, 50px);
    padding: none;
    font-size: $h3;
    cursor: pointer;
    &:hover {
      background-color: darken($color: $green, $amount: 15);
    }
  }
}

.butten_check .butten {
  @include btn_yellow(100px, 50px);
  font-weight: 700;
  padding: none;
  font-size: $h3;
}

//蔬果箱欄位
.fruits_box_two {
  width: 80%;
  @include marginAuto();
  max-width: 800px;
  @include tablet {
    //width: 100%;
  }
  @include mobile {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    max-width: 1200px;
    width: 80%;
  }

  flex-wrap: wrap;
  // 蔬菜箱移除選項
  .fruits_remove_menu {
    //border: 1px solid purple;
    width: 40%;
    background-color: $bkc_yellow;
    margin-top: 2%;
    border-radius: 10px;
    .choose_text {
      padding: 10px;
    }

    @include tablet {
      width: 60%;
      .five_fruits {
        width: 100%;
        background-color: $bkc_yellow;
      }
      @include pad {
        width: 80%;
      }
    }

    // 左側黃色移除選項
    .five_fruits {
      //border: 1px solid black;
      padding-top: 10px;
      margin: auto;
      display: flex;
      padding: 10px;

      button {
        @include btn_small(24px, 24px);
        cursor: pointer;
        margin-left: 0;
      }

      .fruit_1 {
        width: 20%;
      }
    }
  }
  //移除蔬果動畫
    .fruits-active,
    .fruits-leave-active,
    .fruits-move {
      transition: opacity 0.9s, transform 0.8s;
    }

    .fruits-enter-from {
      opacity: 0;
      transform: translateY(20px);
    }
    .fruits-leave-to {
      opacity: 0;
      transform: translateY(-20px);
    }
  
  

  // 蔬菜箱整體
  .fruits_basket {
    text-align: center;
    width: 70%;
    z-index: 0;

    .outer_layer {
      //border: 1px solid orange;
      width: 730px;
      height: 500px;
      position: relative;

      @include tablet {
        width: 132%;
      }
      // margin-top: 20px;
      #wooden {
        width: 100%;
        top: 24%;
        left: 0%;
        z-index: 1;
        position: absolute;
      }

      #wooden_box {
        width: 100%;
        top: 24%;
        left: 0%;
        z-index: -1;
        position: absolute;
      }

      @include tablet {
       img{
          width: 90%;
          margin-top: 20px;
        }
      }
      @include pad {
        width: 150%;
        //height: 40vh;
        height: 400px;
        img {
          width: 100%;
        }
      }

      @include mobile {
        width: 144%;
        height: 300px;
        #wooden{
          width: 110%;
          top:80px;
          left: -6%;
        }
        #wooden_box {
          width: 110%;
          top:80px;
          left: -6%;
        }
        .img_src{
          width: 100%;
          margin-top: 10px;

        }
      }
    }
  }
  // 按鈕
  .fruits_check_butten {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
    width: 80%;
    max-width: 1200px;

    @include tablet {
      margin: auto;
    }

    @include mobile {
      margin: auto;  
    }

    @include tablet{
      margin-top: 40px;
    }
    button {
      outline: none;
      border: 0;
      padding: 0;
    }
    button.box_check {
      //border: 1px solid black;
      background-color: $darkgreen;
      height: 40px;
      width: 40px;
      color: $darkgreen;
      border-radius: 10px;
      cursor: pointer;
      z-index: 1;
      &:hover {
        background-color: darken($color: $green, $amount: 15);
      }
    }

    button.box_delete {
      //border: 1px solid black;
      background-color: $yellow;
      height: 40px;
      width: 40px;
      border-radius: 10px;
      cursor: pointer;
      margin-left: 15px;
      z-index: 1;
      &:hover {
        background-color: darken($color: #ffe139, $amount: 15);
      }
    }
  }
}

.butten_check_price {
  width: 80%;
  margin-left: 16%;
  @include mobile {
    margin-bottom: -30px;
  }
  button {
    width: 100px;
    height: 50px;
    background-color: $darkgreen;
    text-decoration: none;
    @include border_radius();
    border: 0;
    color: $white;
    font-size: 26px;
    font-weight: 700;
  }
}

// 選擇蔬果第二大欄
.select_fruits {
  @include marginAuto();
  margin-top: 3%;
  //border: 1px solid red;
  max-width: 1200px;
  width: 80%;

  .select_second {
    width: 60%;
    max-width: 1000px;
    padding: 0 0 20px 0;
    margin-left: 12%;
  }

  // 選擇蔬果細項
  .fruits_first_row {
    border: 3px dashed $brown;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: -2%;
    text-align: center;
    @include tablet {
      width: 100%;
      .box {
        img {
          width: 120px;
        }
      }
    }

    @include pad {
      width: 100%;
      .box {
        img {
          width: 100px;
        }
      }
    }

    @include mobile {
      padding-top: 12%;
    }

    .box {
      display: inline-block;
      margin: 10px;
      margin-top: 40px;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      margin: 2%;
      &:hover {
        opacity: 0.8;
      }
      img {
        border-radius: 50%;
        margin: 5%;
        border: 4px $brown dashed;
      }

      .togborder {
        border: 6px green solid;
      }

      h5 {
        margin-top: 6px;
      }
    }

    .fruits_items_one img {
      border: 6px green solid;
    }
  }
}

//  幾kg文字替換

.product_directions {
  background-color: $yellow;
  padding: 2% 4%;

  @include pad {
    padding: 0;
    height: 40px;

    h4 {
      padding: 10px;
      text-align: center;
    }
  }

  //border: 1px solid red;
  .select {
    width: 34%;
    margin: auto;
    font-weight: 500;
    @include pad {
      width: 70%;
    }
  }
}

//滿額贈
.free_give {
  width: 80%;
  max-width: 1200px;
  display: flex;
  margin-top: 70px;
  @include marginAuto();
  
  .free_title {
    display: flex;
  }
  .free_give_people {
    margin: auto;
    //border: 1px solid rgb(252, 53, 53);

    img {
      width: 80%;
      display: flex;
      @include marginAuto();
    }
    .free_title {
      h3 {
        @include marginAuto();
      }
    }
    .under_line {
      border-top: 5px solid #ffbc53;
      width: 120px;
      @include marginAuto();
      margin-top: 5px;
      opacity: 0.5;
      border-radius: 10px;
    }

    .free_all {
      display: flex;
      margin-top: 40px;
      p {
        @include btn_yellow(100px, 50px);
      }
    }
  }
}

//下方蔬果單品 滑過出現字
.fruit_box_board {
  display: flex;
  margin-top: 4%;
  @include mobile {
    flex-direction: column;
  }
}

.product_name {
  display: flex;
  justify-content: center;
  font-size: $h3;
  //margin-top: 20px;
}
.product_name {
  transition: 0.5s;
  position: absolute;
  cursor: pointer;
  margin: 0;
  color: white;
  bottom: 45%;
  opacity: 0;
  margin-left: 28%;

  @include tablet {
    margin-left: 17%;
  }

  @include pad {
    font-size: 16px;
    margin-left: 20%;
  }

  @include mobile {
    justify-content: center;
    margin-left: 26%;
    font-size: $h2;
  }
}
.fruit_box_1 {
  position: relative;
  @include mobile {
    margin-bottom: 50px;
  }
}

.fruit_box_2 {
  position: relative;
  @include mobile {
    margin-bottom: 50px;
  }
}

.fruit_box_3 {
  position: relative;
  @include mobile {
    margin-bottom: 50px;
  }
}

._mask {
  width: 80%;
  height: 100%;
  background-color: #00000087;
  margin-left: 10%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
}

// hover效果

.fruit_box_1:hover ._mask {
  opacity: 1;
}

.fruit_box_2:hover ._mask {
  opacity: 1;
}

.fruit_box_3:hover ._mask {
  opacity: 1;
}
.fruit_box_1:hover p {
  opacity: 1;
}
.fruit_box_2:hover p {
  opacity: 1;
}
.fruit_box_3:hover p {
  opacity: 1;
}

// 插圖&背景

.bg_fruit_box {
  position: relative;
  .ufo_ushi {
    position: absolute;
    width: 13%;
    margin-left: 5%;
    margin-top: 1%;
    z-index: 1;
    @include tablet {
      display: none;
    }
  }

  .bg_img2 {
    width: 14%;
    position: absolute;
    margin-top: -48%;
    left: 0%;
    z-index: -100;
    transform: scaleX(-1);
  }
}



