
     
    // ==主標題==
    div#game_title_lottery{
        height: 200px;
        display: none;
            @include pad {
                height: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
            } 
            @include mobile {
                height: 150px;
            } 
        h2.game_title{
            position: relative;
            @include pad {
                font-size: 40px;
            }
            @include mobile {
                font-size: 32px;
            }    
        }h2.game_title::after{
            content:"";
            color: $orange;
            border-color:$orange;
            height: 10px;
            position:absolute;
            left: -25px;
            top:40px;
            background-color: #FFBA10;
            border-color: black;
            border-radius: 101px;
            @include pad {
                width: 360px;
                left: 2rem;
                top:3rem;
                opacity: 50%;
            }@include mobile {
                width: 300px;
                left: 1rem;
                top:2.5rem;      
            }  
    }
    }
     
//    ==數字圓框==

    div#game_decorate_testNumberCircle_3{
        width: 190px;
        height: 190px;
        // border: 1px solid red;
        position: absolute;
        border-radius: 50%;
        top:-5rem;
        background-color:#F42272;
        display: flex;
        justify-content: center;
        align-items: center;
        @include pad {
            width: 120px;
            height: 120px;
            top:-4rem;
        }@include mobile {
            width: 100px;
            height: 100px;
            top:-4rem;   
        }     
        h1#inside_testNumber{
            font-weight:bolder;
            font-size: 2vw;
            color: white;
            height: 50px;
            text-align: center;
            @include pad {
                height: 30px;
                font-size: 4vw;
            }@include mobile {
                font-size: 24px;
            }    
        }
}
 
// ===蔬果動畫===

@keyframes jumpOrange {
    0% {
        transform: translate(-50%, 230%);
    }
    50% {
        transform: translate(-50%, 180%);
    }
    100% {
        transform: translate(-50%, 230%);
    }
  }
  @keyframes jumpPotato {
      0% {
          transform:translate(-110%, 210%)rotateZ(-20deg);
      }
      50% {
          transform:translate(-110%, 160%)rotateZ(-20deg);
      }
      100% {
          transform:translate(-110%, 210%)rotateZ(-20deg);
      }
    }
@keyframes jumpBeetroot {
    0% {
        transform:  translate(70%, 120%)rotateZ(20deg);
    }
    50% {
        transform:  translate(70%, 70%)rotateZ(20deg);
    }
    100% {
        transform:  translate(70%, 120%)rotateZ(20deg);
    }
  }
@keyframes jumpPepper {
    0% {
        transform: translate(50%, 110%)rotateZ(10deg);
    }
    50% {
        transform: translate(50%, 60%)rotateZ(10deg);
    }
    100% {
        transform: translate(50%, 110%)rotateZ(10deg);
    }
  }
@keyframes jumpCabbage {
    0% {
        transform: translate(-20%, 160%)rotateZ(10deg);
    }
    50% {
        transform: translate(-20%, 110%)rotateZ(10deg);
    }
    100% {
        transform: translate(-20%, 160%)rotateZ(10deg);
    }
  }
@keyframes jumpOnion {
    0% {
        transform: translate(-170%, 200%)rotateZ(-20deg);
    }
    50% {
        transform: translate(-170%, 150%)rotateZ(-20deg);
    }
    100% {
        transform: translate(-170%, 200%)rotateZ(-20deg);
    }
  }
@keyframes jumpGreenapple {
    0% {
        transform:translate(-170%, 130%)rotateZ(-20deg);
    }
    50% {
        transform: translate(-170%, 80%)rotateZ(-20deg);
    }
    100% {
        transform: translate(-170%, 130%)rotateZ(-20deg);
    }
  }
@keyframes jumpPumpkin {
    0% {
        transform: translate(-90%, 160%)rotateZ(-10deg);
    }
    50% {
        transform: translate(-90%, 110%)rotateZ(-10deg);
    }
    100% {
        transform: translate(-90%, 160%)rotateZ(-10deg);
    }
  }



//    ==小遊戲背景圖==
    body#game_page{
        background-image: url(../images/game/bg_leaf.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-attachment :fixed;
    }

    // ==小遊戲主欄位==
    section#game_play_border_lottery{
        width: 60%;
        // height: 1500px;
        @include pad {
            height: 1150px;
            width: 80%;
        }
        @include mobile {
            height: 780px;
        }
        border-radius: 53px;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        position: relative;
        @include marginAuto();
        border: 20px solid #006c3e;
        @include pad {
            border: 8px solid #006c3e;
        }
        margin-bottom: 5vh;
        margin-top: 10rem;
        @include pad {
            margin-top: 5rem;
        }
        justify-content: space-around;
        align-items: center;
        .icon_1{
            position: absolute;
            top: -4%;
            left: -4%;
            width: 12vw;
            @include pad {
                display: none;
            }
        }.icon_2{
            position: absolute;
            bottom: -4%;
            left: -4%;
            width: 12vw;
            @include pad {
                display: none;
            }
        }.icon_3{
            position: absolute;
            bottom: -4%;
            right: -4%;
            width: 12vw;
            @include pad {
                display: none;
            }
        }.icon_4{
            position: absolute;
            top: -5%;
            right: -2%;
            width: 9vw;
            @include pad {
                width: 12vw;
            }
            @include mobile {
                width: 18vw;
                right: -3%;
            }
        }#count{
            position: absolute;
            top: .6%;
            right: 3%;
            color: white;
            @include flex_center;
            @include pad {
                top: -1%;
                right: 3%;
            }  
            @include mobile {
                top: -1.8%;
                right: 2%;
            }  
            h1{
               font-size: 3vw;
               font-weight: bolder; 
               @include mobile {
                font-size: 30px;
            }  
            }           
        }div.game_test_3{
                height: 700px; 
                width: 500px;
                display: flex;
                flex-direction: column;
                position: relative;
                margin-top: 16rem;
                z-index: 10; 
                @include pad {
                    // height: 250px;
                    margin-top: 10rem;
                    width:100%; 
                }
                @include mobile {
                    height: 200px;
                    margin-top: 6rem;
                 }
                img#cooking_nabe_top{
                    position: absolute;
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 450px;
                    z-index: 0;
                    @include pad {
                        width: 45vw;
                        // height: 200px;
                    }@include mobile {
                        width: 55vw;
                        // height: 250px;
                     }
                }img#cooking_nabe_bottom{
                    position: absolute;
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%, 110%);
                    width: 450px;
                    z-index: -2;
                    @include pad {
                        width: 45vw;
                        // height: 200px;
                    }@include mobile {
                        width: 55vw;
                        // height: 250px;
                     }
                }div#bowl{
                    position: absolute;
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%, 10%);
                    width: 420px;
                    height: 420px;
                    border-radius: 50%;
                    background-color: #fae7c3;
                    border: 10px solid rgba(195, 250, 197, .5);
                    z-index: -1;
                    @include pad {
                        width: 320px;
                        height: 320px;
                    }
                    @include mobile {
                        width: 200px;
                        height: 200px;
                     }
                    img{
                        width: 80px;
                        
                        @include pad {
                            width: 60px; 
                        }
                        @include mobile {
                            width:37.5px;
                         }
                    }
                    img#orange{
                        z-index: 8;
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(-50%, 230%);
                        animation-name: jumpOrange;
                        animation-duration: 3.5s;
                        animation-iteration-count: infinite;
                    }img#potato{
                        z-index: 7;
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(-110%, 210%)rotateZ(-20deg);
                        animation-name: jumpPotato;
                        animation-duration: 3.5s;
                        animation-iteration-count: infinite;
                    }img#Beetroot{
                        z-index: 6;
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(70%, 120%)rotateZ(20deg);
                        animation-name: jumpBeetroot;
                        animation-duration: 3.5s;
                        animation-iteration-count: infinite;
                    }img#onion{
                        z-index: 6;
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(-170%, 200%)rotateZ(-20deg);
                        animation-name: jumpOnion;
                        animation-duration: 3.5s;
                        animation-iteration-count: infinite;
                    }img#cabbage{
                        z-index: 7;
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(-20%, 160%)rotateZ(10deg);
                        animation-name: jumpCabbage;
                        animation-duration: 3.5s;
                        animation-iteration-count: infinite;
                    }img#pepper{
                        z-index: 4;
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(50%, 110%)rotateZ(10deg);
                        animation-name: jumpPepper;
                        animation-duration: 3.5s;
                        animation-iteration-count: infinite;
                    }img#pumpkin{
                        z-index: 6;
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(-90%, 160%)rotateZ(-10deg);
                        animation-name: jumpPumpkin;
                        animation-duration: 3.5s;
                        animation-iteration-count: infinite;
                    }img#greenapple{
                        z-index: 5;
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translate(-170%, 130%)rotateZ(-20deg);
                        animation-name: jumpGreenapple;
                        animation-duration: 3.5s;
                        animation-iteration-count: infinite;
                    }
                }      
        }#game_question{
            margin-top: 1rem;
            margin-bottom: 1rem;
            line-height:32px;
            height: 100px;
            width: 65%;
            text-align: center;
            padding: 1rem;
            z-index: 10; 
            @include pad {
                height: 100px;
                margin-top: 1rem;
            }
            @include mobile {
                margin-top: 4.5rem;
                width: 75%;
             }
            h2{
                
                @include pad {
                    font-size:26px;
                    text-align:justify;
                }
                @include mobile {
                   font-size:16px ;
                   text-align:justify;
                }
            }
        }
    }





/* ===按鈕及農夫圖=== */

#game_bottom_part_lottery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 500px;
        @include pad {
            margin-top: 8rem;
        }@include mobile {
            margin-top: 4rem;
        }
        .icon_11{
            width: 15vw;
            margin-top: 4rem;
            z-index: 10;
            @include pad {
                width: 25vw;
                margin-top: 4rem;
            }
            @include mobile {
                width: 40vw;
                margin-top: 2rem;
             }      
        }div#game_answer{
            display: flex;
            align-items:flex-start;
            // justify-content: center;
            position: relative;
            }
         button#submit_1{
            @include btn(220px,65px);
            font-size: 24px;
            font-weight: bolder;
            background-color: $yellow;
            top: 0%;
            left:20%;
            position: absolute;
            transform: translate(-90%, -60%);
            color: $brown;
            margin: 1rem;
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include pad {
                @include btn(160px,60px);
                background-color: $yellow;
                color: $brown;
                transform: translate(-110%, -60%);
                font-size: 22px;
                padding: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
             } 
            @include mobile {
                @include btn(120px,35px);
                font-size: 16px;
                margin: .5rem;
                line-height: 20px;
                display: flex;
                align-items: center;
                justify-content: center
             } 
            &:hover{
                background-color: $red;
            }#rightArrow{
                width: 1vw;
                margin-left: 1vw; 
                @include pad {
                    width: 15px;
                    margin-left: 5px;
             } 
            }#action1{
                @include pad {
                    // width: 170px;     
             }
            }   
        }span#submit_1{
            
            z-index: 10;
            top: 0%;
            left:30%;
            position: absolute;
            transform: translate(20%, -60%)rotateZ(100deg);
                img{
                    width:280px;
                @include pad {
                    width: 200px;
                    margin-top: 1rem;
                }@include mobile {
                    width: 120px;
                }      
        }
                }
           
}




    // ====以下為slider====
    section#game_slideshow_step_lottery{
        display: flex;
        width:90%;
        height: 350px;
        margin: 0 auto;
        max-width: 1200px;
        margin-top: 20vh;
        display: flex;
        justify-content:space-evenly;
        // align-items: center;
        @include pad {
            height: 250px;
            margin-top: 3rem;
            width:100%;
        }@include mobile {
            height: 200px;
            margin-top: 3rem;
        }   
        #game_slideshow{
            position: relative;
            overflow: hidden;
            height: 350px;
            width:90%;
            @include border_radius;
            border-radius: 20px;
            box-shadow: 3px 3px 5px #ccc;
            // background-color: hotpink;
            @include pad {
                height: 200px;
                border-radius: 0px;
                width:100%;
            } 
            img.game_slideshow{
                position: absolute;
                top:35px;
                left:50%;
                transform: translateX(-50%);
                display: none;
                @include pad {
                    height: 150px;
                    border-radius: 0px;
                    top:0rem;
                    margin-top: 1rem;
                }@include mobile {
                    height: 100px;
                    margin-top: 3rem;
                }  
            }
        }
    }


  