// ==主標題==
div#game_title {
  height: 200px;
  display: none;
  @include pad {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include mobile {
    height: 150px;
  }
  h2.game_title {
    position: relative;
    @include pad {
      font-size: 40px;
    }
    @include mobile {
      font-size: 32px;
    }
  }
  h2.game_title::after {
    content: "";
    color: $orange;
    border-color: $orange;
    width: 250px;
    height: 10px;
    position: absolute;
    left: -25px;
    top: 40px;
    background-color: #ffba10;
    border-color: black;
    border-radius: 101px;
    @include pad {
      width: 220px;
      left: 2rem;
      top: 3rem;
      opacity: 50%;
    }
    @include mobile {
      width: 180px;
      left: 1rem;
      top: 2.5rem;
    }
  }
}

//    ==數字圓框==

div#game_decorate_testNumberCircle_2 {
  width: 130px;
  height: 130px;
  // border: 1px solid red;
  position: absolute;
  border-radius: 50%;
  top: -1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f42272;
  display: flex;
  justify-content: center;
  align-items: center;
  @include pad {
    width: 100px;
    height: 100px;
    top: 0rem;
  }
  @include mobile {
    width: 100px;
    height: 100px;
    top: 0rem;
  }
  h1#inside_testNumber {
    font-weight: bolder;
    font-size: 3vw;
    color: white;
    height: 50px;
    text-align: center;
    @include pad {
      height: 30px;
      font-size: 5vw;
    }
    @include mobile {
      font-size: 30px;
    }
  }
}

// /* ===邊框設計=== */
// section#game_bottom_part{
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-top:2rem;
//         .icon_11{
//             width: 10vw;
//             /* position:absolute; */
//             margin-top: 2rem;
//         }.blue{
//             background-color: blue;
//         }.green{
//             background-color:$green;
//         } button#submit{
//             @include btn(200px,75px);
//             font-size: $h3;
//             font-weight: bolder;
//             &:hover{
//                 background-color: $red;
//             }
//         }
//     }

//    ==小遊戲背景圖==
body#game_page {
  background-image: url(../images/game/bg_leaf.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
}

// ==小遊戲主欄位==
section.game_play_border_PassandDefeat {
  width: 60%;
  height: 700px;
  @include pad {
    height: 740px;
    width: 80%;
  }
  @include mobile {
    height: 600px;
  }
  border-radius: 53px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  @include marginAuto();
  border: 20px solid #006c3e;
  @include pad {
    border: 8px solid #006c3e;
  }
  margin-bottom: 5vh;
  margin-top: 10rem;
  @include pad {
    margin-top: 5rem;
  }
  justify-content: space-around;
  align-items: center;
  .icon_1 {
    position: absolute;
    top: -4%;
    left: -4%;
    width: 12vw;
    @include pad {
      display: none;
    }
  }
  .icon_2 {
    position: absolute;
    bottom: -4%;
    left: -4%;
    width: 12vw;
    @include pad {
      display: none;
    }
  }
  .icon_3 {
    position: absolute;
    bottom: -4%;
    right: -4%;
    width: 12vw;
    @include pad {
      display: none;
    }
  }
  // .icon_4 {
  //   position: absolute;
  //   top: -5%;
  //   right: -2%;
  //   width: 120px;
  //   @include pad {
  //     width: 12vw;
  //   }
  //   @include mobile {
  //     width: 18vw;
  //     right: -3%;
  //   }
  // }
  #count {
    position: absolute;
    top: -8.5%;
    right: -4%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 0.5s linear;
    background-image: url("../images/game/game_img_Tomato.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    background-size: 120px 96px;
    @include pad {
      top: -8.5%;
      // right: 3%;
    }
    @include mobile {
      background-size: 90px 72px;
      top: -2.8%;
      right: -6%;
    }
    h1 {
      font-size: 28px;
      font-weight: bolder;
      @include pad {
        font-size: 24px;
      }
      @include mobile {
        font-size: 20px;
      }
    }
  }
  div.game_test_2 {
    height: 300px;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include pad {
      height: 250px;
      margin-top: 6rem;
    }
    @include mobile {
      height: 200px;
      margin-top: 8rem;
    }
    img#game_test {
      width: 300px;
      animation: fade-in 0.5s linear;
      // height: 300px;
      @include pad {
        width: 40vw;
        // height: 200px;
      }
      @include mobile {
        width: 60vw;
        // height: 250px;
      }
    }
  }
  #game_question {
    // margin-top: 3rem;
    line-height: 4vh;
    height: 120px;
    width: 50%;
    text-align: center;
    padding: 1rem;
    position: relative;
    @include pad {
      width: 50%;
      height: 140px;
      margin-top: 2rem;
    }
    @include mobile {
      width: 70%;
      margin-top: 0.5rem;
    }
    h2 {
      line-height: 3rem;
      font-size: 26px;
      text-align: justify;
      // animation: up 0.5s ease-in 1s;
      @include pad {
        font-size: 20px;
        line-height: 2rem;
      }
      @include mobile {
        font-size: 16px;
        text-align: justify;
        line-height: 2rem;
      }
    }
    div#finalscore {
      width: 60%;
      height: 50%;
      position: absolute;
      top: 60%;
      right: -45%;
      font-size: 40px;
      color: $text_underline;
      border-radius: 10px;
      @include pad {
        width: 70%;
        height: 30%;
        font-size: 32px;
        top: 65%;
        right: 5%;
      }
      @include mobile {
        font-size: 24px;
        top: 60%;
        right: -25%;
      }
    }
  }
}

// ==通關成功及失敗頁面的按鈕==
#game_bottom_part_PassandDefeat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  @include pad {
    margin-top: 0rem;
  }
  .icon_11 {
    width: 11vw;
    margin-top: 1rem;
    @include pad {
      width: 25vw;
      margin-top: 1rem;
    }
    @include mobile {
      width: 40vw;
    }
  }
  div#game_answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button#submit_1 {
    @include btn(320px, 55px);
    font-size: 28px;
    font-weight: bolder;
    margin: 0.3rem;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: $white;
    }
    @include pad {
      @include btn(220px, 60px);
      font-size: 22px;
      padding: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include mobile {
      @include btn(170px, 45px);
      font-size: 14px;
      margin: 0.5rem;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      background-color: $red;
    }
    #rightArrow {
      width: 1vw;
      margin-left: 5px;
      @include pad {
        width: 15px;
        margin-left: 5px;
      }
    }
    #action1 {
      @include pad {
        // width: 170px;
      }
    }
  }
  button#submit_2 {
    @include btn(320px, 55px);
    font-size: 28px;
    font-weight: bolder;
    margin: 0.3rem;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: $white;
    }
    @include pad {
      @include btn(220px, 60px);
      font-size: 22px;
      padding: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include mobile {
      @include btn(170px, 45px);
      font-size: 14px;
      margin: 0.5rem;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      background-color: $red;
    }
    #leftArrow {
      width: 1vw;
      margin-right: 5px;
      @include pad {
        width: 15px;
        margin-right: 5px;
      }
    }
    #action2 {
      @include pad {
        // width: 180px;
      }
    }
    #action2ifLogin {
      @include pad {
        // width: 180px;
      }
    }
  }
}

// ====以下為slider====
section#game_slideshow_step_PassandDefeat {
  display: flex;
  width: 90%;
  height: 350px;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 6rem;
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  @include pad {
    height: 250px;
    margin-top: 3rem;
    width: 100%;
  }
  @include mobile {
    height: 200px;
    margin-top: 5rem;
  }
  #game_slideshow {
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 90%;
    @include border_radius;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #ccc;
    // background-color: hotpink;
    @include pad {
      height: 200px;
      border-radius: 0px;
      width: 100%;
    }
    img.game_slideshow {
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      @include pad {
        height: 150px;
        border-radius: 0px;
        top: 0rem;
        margin-top: 1rem;
      }
      @include mobile {
        height: 100px;
        margin-top: 3rem;
      }
    }
  }
}
