@import url(https://fonts.googleapis.com/css?family=Cabin);

body {
  overflow-x: hidden;
}

.body_area {
  width: 95%;

  a {
    @include a_link();
  }

  .text_underline {
    border-top: 5px solid $text_underline;
    width: 120px;
    @include marginAuto();
    margin-top: 5px;
  }
}

@include pad {
  .body_area {
    width: 100%;
  }
}

@include mobile {
  .body_area {
    width: 100%;
  }
}

.header {
  .index_title {
    .pic_index {
      height: 80vh;
      max-height: 900px;
      min-height: 350px;
      overflow: hidden;
      position: relative;
      background-color: #000;

      div {
        width: 100%;
        height: 100%;
        background-size: contain;
        position: absolute;
        animation: index_slide 25s infinite;
        opacity: 0;

        &:nth-child(2) {
          animation-delay: 5s;
        }

        &:nth-child(3) {
          animation-delay: 10s;
        }

        &:nth-child(4) {
          animation-delay: 15s;
        }

        &:nth-child(5) {
          animation-delay: 20s;
        }
      }
    }
  }
}

@keyframes index_slide {
  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
  }
}

@include pad {
  .header {
    .index_title {
      padding-right: 0;
      padding-left: 0;
      height: 500px;

      .pic_index {
        height: 0;
        margin: 0;
        border-radius: 0;
        display: block;
      }
    }
  }
}

@include mobile {
  .header {
    .index_title {
      padding-right: 0;
      padding-left: 0;
      //height: 500px;

      .pic_index {
        height: 0;
        margin: 0;
        border-radius: 0;
        display: block;

        img {
          margin-bottom: 0;
        }
      }
    }
  }
}

.news {
  margin: 0px auto 50px auto;
  width: 100%;
  max-width: 1920px;
  height: 600px;

  .news_title {
    padding: 0 0 60px 0;
    text-align: center;
  }

  .news_board {
    width: 100%;
    height: 500px;
    max-width: 1920px;
    @include marginAuto();
    display: flex;

    .news_board_card {
      @include marginAuto();
      width: 50%;
      margin: 0 10px;

      .card_cover {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          @include marginAuto();
          border-radius: 15px;

          &:hover {
            transform: scale(1.05);
            transition: transform 1s;
          }
        }
      }

      .news_card_text {
        width: 80%;
        @include marginAuto();

        p {
          height: 125px;
          margin: 15px;
        }

        h4 {
          text-align: center;
          padding-top: 20px;

        }

        h5 {
          text-align: center;
        }
      }
    }
  }
}

@include pad {
  .news {
    margin: -25% auto 50px auto;

    .news_title {
      margin-top: 35%;
    }
  }
}

.swiper-container {
  width: 90%;
  display: none;

  img {
    width: 100%;
  }
}

@include pad {
  .swiper-container {
    display: block;
  }

  .news {
    height: 500px;

    .news_board {
      display: none;
    }
  }
}

@include mobile {
  .swiper-container {
    display: block;
  }

  .news {
    height: 500px;

    .news_board {
      display: none;
    }
  }
}

.go_buy_all {
  padding-bottom: 100px;

  .go_buy {
    overflow: hidden;
    position: relative;

    .buy_scroll {
      background-image: url("../../images/index/02_buy_scroll.png");
      width: 100%;
      height: 80vh;
      max-height: 1000px;
      min-height: 500px;
      background-size: cover;
    }

    .go_buy_title {
      position: absolute;
      top: 80%;
      left: 47%;
    }
  }

  .buy_item {
    border-radius: 40px;
    overflow: hidden;
    width: 80%;
    max-width: 1920px;
    @include marginAuto();
    height: 550px;
    display: flex;
    justify-content: center;


    .buy_card {
      width: 10%;
      flex: 1;
      transition-duration: 2s;
      position: relative;

      .buy_card_hover {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        width: 100%;
        height: 100%;
        transition-duration: 2s;

        &:hover {
          opacity: 1;
        }

        .buycard_img {
          width: 60%;
          position: absolute;
          top: 50%;
          left: 20%;
          transform: translateY(-50%);

          &:hover {
            filter: brightness(0.6);
          }
        }
      }

      &:hover {
        flex: 3;
        cursor: pointer;
      }

      .buycard_bg {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .mb_mask {
        display: none;
      }

      .rotateOutder {
        display: none;
      }
    }
  }
}

@include pad {
  .go_buy_all {
    padding-bottom: 100px;

    .go_buy {
      overflow: hidden;
      position: relative;

      .buy_scroll {
        height: 300px;
        min-height: 100px;
        background-repeat: no-repeat;
      }

      .go_buy_title {
        top: 65%;
        left: 40%;
      }
    }

    .buy_item {
      border-radius: 0;
      width: 95%;


      .buy_card {
        width: 10%;
        flex: 1;
        transition-duration: none;

        .buy_card_hover {
          display: none;
          transition-duration: none;

          &:hover {
            opacity: 1;
          }

          .buycard_img {
            display: none;

            &:hover {
              filter: none;
            }
          }
        }

        &:hover {
          flex: 1;
        }

        .buycard_bg {
          height: 90%;
          width: 98%;
        }

        .mb_mask {
          display: block;
          position: absolute;
          bottom: 10%;
          width: 100%;
        }

        .rotateOutder {
          display: block;
          position: absolute;
          bottom: 25%;
          left: -8px;

          .rotate {
            height: 80px;
            width: 80px;
            margin: 10px;
            border-radius: 50%;
            position: relative;

            &::before {
              background-color: $red;
              content: "";
              height: 55px;
              width: 55px;
              position: absolute;
              z-index: 1;
              border-radius: 50%;
              border: 3px dashed $white;
              animation: rotate 8s linear infinite;
            }

            p {
              color: $white;
              position: absolute;
              z-index: 2;
              top: -6px;
              left: 7px;
              line-height: 77px;
              transform: rotate(-15deg);
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .go_buy_all {
    padding-bottom: 100px;

    .go_buy {
      overflow: hidden;
      position: relative;

      .buy_scroll {
        height: 300px;
        min-height: 100px;
        background-repeat: no-repeat;
      }

      .go_buy_title {
        top: 65%;
        left: 40%;
      }
    }

    .buy_item {
      border-radius: 0;
      width: 95%;


      .buy_card {
        width: 10%;
        flex: 1;
        transition-duration: none;

        .buy_card_hover {
          display: none;
          transition-duration: none;

          &:hover {
            opacity: 1;
          }

          .buycard_img {
            display: none;

            &:hover {
              filter: none;
            }
          }
        }

        &:hover {
          flex: 1;
        }

        .buycard_bg {
          height: 90%;
          width: 98%;
        }

        .mb_mask {
          display: block;
          position: absolute;
          bottom: 10%;
          width: 100%;
        }

        .rotateOutder {
          display: block;
          position: absolute;
          bottom: 20%;
          left: -8px;

          .rotate {
            height: 80px;
            width: 80px;
            margin: 10px;
            border-radius: 50%;
            position: relative;

            &::before {
              background-color: $red;
              content: "";
              height: 55px;
              width: 55px;
              position: absolute;
              z-index: 1;
              border-radius: 50%;
              border: 3px dashed $white;
              animation: rotate 8s linear infinite;
            }

            p {
              color: $white;
              position: absolute;
              z-index: 2;
              top: -6px;
              left: 7px;
              line-height: 77px;
              transform: rotate(-15deg);
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0)
  }

  50% {
    -webkit-transform: rotate(180deg)
  }

  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  50% {
    transform: rotate(180deg)
  }

  100% {
    transform: rotate(360deg)
  }
}


.plant_methods {
  width: 100%;
  height: 600px;
  margin-bottom: 100px;

  .plant_title {
    margin: 50px 0;

    h2 {
      text-align: center;
    }
  }
}

.marquee {
  width: 100%;
  height: 510px;
  line-height: 44px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  position: relative;

  .content {
    display: inline-block;
    position: relative;
    padding-right: 0px;
    white-space: nowrap;
    animation: kf-marque-animation 12s infinite linear;
  }
}

@keyframes kf-marque-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-33.3%);
  }
}


.farm_expr {
  width: 100%;
  margin-bottom: 100px;
  position: relative;

  .farm_expr_title {
    margin: 50px 0;

    h2 {
      text-align: center;
    }
  }

  .farm_expr_board {
    width: 100%;
    max-width: 1920px;
    @include marginAuto();
    display: flex;
    justify-content: space-evenly;

    .farm_expr_card {
      background-color: #FFF;
      width: 30%;
      max-width: 350px;
      border-radius: 15px;
      box-shadow: 0 3.4px 4.8px rgba(0, 0, 0, 0.02),
        0 11.4px 16.1px rgba(0, 0, 0, 0.03),
        0 51px 72px rgba(0, 0, 0, 0.05);
      margin-bottom: 50px;

      &:hover {
        transform: translateY(-20px) translateX(-5px);
        transition: 0.5s;
      }

      img {
        width: 100%;
        border-radius: 15px;
        padding: 5px;
      }

      .farm_expr_text {

        h4 {
          text-align: center;
          padding: 10px 0;
        }

        h5 {
          padding: 20px 20px;
          height: 180px;
        }
      }

      .farm_expr_btn {
        @include btn(50%);
        margin-bottom: 10px;
      }
    }
  }

  .bg_img1 {
    width: 50%;
    position: absolute;
    top: -30%;
    left: -10%;
    z-index: -100;
  }

  .bg_img2 {
    width: 20%;
    position: absolute;
    top: 50%;
    right: 0%;
    z-index: -100;
  }
}

@include pad {
  .farm_expr {
    width: 100%;
    margin-bottom: 100px;
    position: relative;

    .farm_expr_title {
      margin: 50px 0;

      h2 {
        text-align: center;
      }
    }

    .farm_expr_board {
      @include marginAuto();
      // flex-direction: column;

      .farm_expr_card {
        width: 31%;
        @include marginAuto();

        &:hover {
          transform: none;
          transition: none;
        }
      }
    }
  }
}


@include mobile {
  .farm_expr {
    width: 100%;
    margin-bottom: 100px;
    position: relative;

    .farm_expr_title {
      margin: 50px 0;

      h2 {
        text-align: center;
      }
    }

    .farm_expr_board {
      @include marginAuto();
      flex-direction: column;

      .farm_expr_card {
        width: 95%;
        @include marginAuto();

        &:hover {
          transform: none;
          transition: none;
        }
      }
    }
  }
}

.about_board {
  width: 100%;
  max-width: 1200px;
  height: 800px;
  margin: 5% 0 10% 0;
  position: relative;
  @include marginAuto();

  .about_us {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-color: $bkc_yellow;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3.4px 4.8px rgba(0, 0, 0, 0.02),
      0 11.4px 16.1px rgba(0, 0, 0, 0.03),
      0 51px 72px rgba(0, 0, 0, 0.05);


    .us_bg1 {
      position: absolute;
      top: 85px;
    }

    .us_bg2 {
      position: absolute;
      top: 170px;
    }

    .us_title1 {
      color: #FAF9EF;
      position: absolute;
      top: 125px;
      left: 55px;
      z-index: 5;
    }

    .us_title2 {
      color: #FAF9EF;
      position: absolute;
      top: 200px;
      left: 125px;
      z-index: 5;
    }
  }

  .about_img_all {
    position: relative;
    width: 100%;
    height: 800px;

    @for $i from 1 through 8 {
      .about_img#{$i} {
        width: 180px;
        height: 180px;
        position: absolute;

        img {
          width: 100%;

          &:hover {
            animation: in-shake 1s;
            animation-timing-function: ease;
            cursor: pointer;
          }
        }
      }
    }

    @keyframes in-shake {
      0% {
        transform: scale(0.5, 1) rotate(0deg);
      }

      50% {
        transform: scale(2, 0.5) rotate(1deg);
      }

      75% {
        transform: scale(0.5, 1) rotate(1deg);
      }

      100% {
        transform: scale(1, 1) rotate(0deg);
      }
    }

    .about_text_hover {
      z-index: 5;
      width: 180px;
      word-break: break-all;
      display: none;
      border-radius: 10px;
      background-color: $brown;
      position: absolute;
      top: -200px;
      left: 50%;
      transform: translateX(-50%);

      &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -15px;

        border-top: 8px solid $brown;
        border-right: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid transparent;
      }

      .title {
        color: $white;
        padding: 20px;
      }

      .category {
        color: $white;
        padding: 0px 20px;
        margin-bottom: 30px;
        text-align: justify;
      }
    }

    .about_img1 {
      top: 0%;
      left: 43%;

      &:hover .about_text_hover {
        display: block;
      }
    }

    .about_img2 {
      top: 35%;
      left: 15%;

      &:hover .about_text_hover {
        display: block;
      }
    }

    .about_img3 {
      top: 38%;
      right: 15%;

      &:hover .about_text_hover {
        display: block;
      }
    }

    .about_img4 {
      bottom: 0%;
      right: 43%;

      &:hover .about_text_hover {
        display: block;
      }
    }

    .about_img5 {
      bottom: 10%;
      right: 20%;

      &:hover .about_text_hover {
        display: block;
      }
    }

    .about_img6 {
      top: 10%;
      right: 20%;

      &:hover .about_text_hover {
        display: block;
      }
    }

    .about_img7 {
      top: 10%;
      left: 20%;

      &:hover .about_text_hover {
        display: block;
      }
    }

    .about_img8 {
      bottom: 10%;
      left: 20%;

      &:hover .about_text_hover {
        display: block;
      }
    }
  }
}

@include pad {
  .about_board {
    height: 800px;
    margin: 5% 0 10% 0;

    .about_us {
      width: 300px;
      height: 300px;

      .us_bg1 {
        width: 105%;
        top: 75px;
      }

      .us_bg2 {
        width: 115%;
        top: 150px;
      }

      .us_title1 {
        top: 110px;
        left: 45px;
      }

      .us_title2 {
        top: 175px;
        left: 110px;
      }
    }

    .about_img_all {
      position: relative;
      width: 100%;
      height: 800px;

      @for $i from 1 through 8 {
        .about_img#{$i} {
          width: 140px;
          height: 140px;
          position: absolute;

          img {
            width: 100%;

            &:hover {
              animation: none;
            }
          }
        }
      }

      .about_text_hover {
        display: none;
      }

      .about_img1 {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img2 {
        top: 35%;
        left: 0px;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img3 {
        top: 40%;
        right: 0px;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img4 {
        bottom: 15%;
        right: 50%;
        transform: translateX(50%);

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img5 {
        bottom: 22%;
        right: 10%;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img6 {
        top: 17%;
        right: 8%;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img7 {
        top: 17%;
        left: 10%;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img8 {
        bottom: 22%;
        left: 10%;

        &:hover .about_text_hover {
          display: none;
        }
      }
    }
  }
}

@include mobile {
  .about_board {
    height: 800px;
    margin: 5% 0 10% 0;

    .about_us {
      width: 300px;
      height: 300px;

      .us_bg1 {
        width: 105%;
        top: 75px;
      }

      .us_bg2 {
        width: 115%;
        top: 150px;
      }

      .us_title1 {
        top: 110px;
        left: 45px;
      }

      .us_title2 {
        top: 175px;
        left: 110px;
      }
    }

    .about_img_all {
      position: relative;
      width: 100%;
      height: 800px;

      @for $i from 1 through 8 {
        .about_img#{$i} {
          width: 130px;
          height: 130px;
          position: absolute;

          img {
            width: 100%;

            &:hover {
              animation: none;
            }
          }
        }
      }

      .about_text_hover {
        display: none;
      }

      .about_img1 {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img2 {
        top: 35%;
        left: 0px;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img3 {
        top: 40%;
        right: 0px;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img4 {
        bottom: 15%;
        right: 50%;
        transform: translateX(50%);

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img5 {
        bottom: 25%;
        right: 5%;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img6 {
        top: 17%;
        right: 8%;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img7 {
        top: 17%;
        left: 8%;

        &:hover .about_text_hover {
          display: none;
        }
      }

      .about_img8 {
        bottom: 23%;
        left: 10%;

        &:hover .about_text_hover {
          display: none;
        }
      }
    }
  }
}

.index_animal {
  height: 100px;
  position: relative;

  img {
    position: absolute;
    top: 60%;
    left: 17%;
    width: 200px;
    transform: scaleX(-1);
    z-index: 50;
  }
}

@include mobile {
  .index_animal {
    display: none;
  }
}

.pop_info {
  display: none;
}

@include pad {
  .pop_info {
    display: block;
  }

  .popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    content: '';
    backdrop-filter: blur(5px);
    z-index: 2;

    .popup-box {
      width: 100%;
      padding: 40px 75px;
      transform: translate(-50%, -50%) scale(0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      background: $white;
      text-align: center;

      h2 {
        color: $red;
      }

      h3 {
        color: $brown;
        text-align: justify;

      }

      .close-btn {
        width: 50px;
        height: 50px;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;

        img {
          width: 100%;
        }
      }
    }
  }
}


@include mobile {
  .pop_info {
    display: block;
  }

  .popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    content: '';
    backdrop-filter: blur(5px);
    z-index: 2;

    .popup-box {
      width: 100%;
      padding: 40px 75px;
      transform: translate(-50%, -50%) scale(0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      background: #fff;
      text-align: center;

      h2 {
        // font-size: 32px;
        color: #1a1a1a;
      }

      h3 {
        // font-size: 24px;
        color: #888;
      }

      .close-btn {
        width: 50px;
        height: 50px;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;

        img {
          width: 100%;
        }
      }
    }

    // .transform-in,
    // .transform-out {
    //   display: block;
    //   -webkit-transition: all ease 0.5s;
    //   transition: all ease 0.5s;
    // }

    // .transform-in {
    //   -webkit-transform: translate(-50%, -50%) scale(1);
    //   transform: translate(-50%, -50%) scale(1);
    // }

    // .transform-out {
    //   -webkit-transform: translate(-50%, -50%) scale(0.5);
    //   transform: translate(-50%, -50%) scale(0.5);
    // }
  }
}