.item-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 li p{
    font-weight: 500;
    display: inline-block;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.btn{
    display: inline-block;
    // background: #ff523b;
    // color: #fff;
    // padding: 8px 30px;
    margin: 0 30px;
    
    // transition: background 0.5s;
    @include btn(120px);
    text-align: center;
}
.btn:hover{
    // background: #eb3a3a;
}
.single-product{
    margin-top: 20px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.catboard-info{
    width: 70%;
    margin: 30px auto;
    line-height: 1.5rem;
    font-size: 15px;
}
.hightlight{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #F9F9F9;
    align-items: center;
    margin-bottom: 50px;
}
.hightlight img{
    width: 700px;
    margin-left: 50px;
}
.hightlight ul{
    margin: 0 auto;
}
.truck-info{
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}
.truck-info ul{
    flex-basis: 50%;
    padding: 20px;
}
.truck-info img{
    width: 400px;
}
.wheel-info{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 50px;
}
.wheel-info ul{
    flex-basis: 40%;
    padding: 20px;
}
.wheel-info img{
    width: 400px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    padding-bottom: 50px;
}