@media (max-width: 767px){
  div.qa_item div.aside ul {
    
      height: auto;
      padding:20px;
      position: absolute;
      top:100%;
      left:0;
      width: 100%;
  }
  div.qa_item div.aside ul li{
      top:auto;
      bottom: auto;
  }
}


div.qa_step {
  width: 80%;
  @include marginAuto();
  //display: flex;
  max-width: 1200px;
  div.notice {
        width: 85%;
        display: flex;
        border-radius: 20px;
        background-color: $bkc_yellow;
      
      .light {
        background-color: $yellow;
        border-radius: 20px;
      }
      img {
        width: 50px;
        height: 50px;
      }

      h4 {
        padding: 15px;
        border-radius: 15px;
      }
  }
  .up{
      width: 65%;
      margin-left: 30%;
      margin-top: -4%;
      @include marginAuto();
      h4{
          line-height: 40px; 
      }
  }

}


div.qa_item {
    width: 80%;
    @include marginAuto();
    display: flex;
    flex-wrap: wrap;
    @include tablet {
      width: 90%;
    }
    div.aside {
        width: 18%;
        margin-top: 20px;
        padding: 15px 0px;
        
        @include pad {
             width: 100%;
             position: static;
             border-radius: 8px;
              .qa_list{
                  background-color: $darkgreen;
                  position: static;
                  border-radius: 8px;
                  height: 12vh;
                  background-image: url(../../images/shopping_page/shopping_ham.svg);
                  background-repeat: no-repeat;
                  background-position: top 50%  right 10%;
                  background-size: 50px;
                  cursor: pointer;
                h4{
                  color: $white;
                  padding: 20px;
                  margin-left: 0%;
                  font-size: 26px;
                }
                
              }

              ul{
                    display: none;
                    background-color: $bkc_yellow;
                    border-radius: 8px;
                    height: 300px;
                   
                li{
                    display: none;
                    margin: 0 10%; 
                    cursor: pointer;
                    position: relative;
                    border-bottom: 3px solid $brown;
                    padding: 4px 5%;
                }
              }
              
              .hr{
                display: none;
              }
            
        }
        .sticky {
            position: sticky;
            top: 10px;
            @include tablet {
              top: 100px;
        }
        }
        .qa_list {
            line-height: 30px;
            margin-top: 40px;;
        }
        .highlight{
            background-color: yellow;
        }
        
        .hr {
            width: 80%;
            height: 3px;
            background-color: $brown;
            margin-top: 5%;
            top: 20px;
        }

        ul {
            margin-top: 5%;
            @include pad{
              margin-top: 0%;
            }

           li{
              cursor: pointer;
              @include a_link();
              line-height: 30px;
              font-size: 18px;
              a{
                @include  a_link;
              }
           }
           img{
               width: 25px;
               height: 25px;
               display: none;
           }

          :hover img{
                display: inline-block;
                
           }
        }
  }
  
 
  div.qa_problem {
      width: 70%;
      margin-top: 20px;
    
      @include tablet{
        width: 85%;
      }
      @include pad{
        margin-top: -20px;
      }

    .qa_01 {
        width: 100%;
        background-color: $white;
        margin-top: 40px;
    }
    .question {
        color: $darkgreen;
        padding: 15px;
        display: flex;
        line-height: 25px;
        //position:relative;
    }
    p.answer {
      line-height: 25px;
      padding: 0px 30px 10px 15px;
    }

    @mixin border_radius_text {
      border-radius: 30px;
    }
    .title1 {
      background-color: #fae7c3;
      padding: 20px;
      border-radius: 8px;
    }

    .hr {
      width: 90%;
      height: 1px;
      background-color: $brown;
      margin-top: 2%;
      margin-left: 2%;
    }

    li {
      line-height: 25px;
      padding: 0px 30px 10px 15px;
    }

    .answer{
      display: none;
    }

    //Q&A icon
    img {
      width: 30px;
      height: 30px;
      margin-top: -8px;
    }

    // 下拉選單

    p.question::after {
      padding: 0px 5px 0px 10px;
      color: #78552b;
      content: "\f078";
      font-family: FontAwesome;
      // position:absolute;
      // right:60px;
    }
  }
}

.animal_huacaya {
  position: relative;
  img {
    margin-left: 6%;
    margin-top: -6%;
    width: 17%;
    z-index: 1;
    position: absolute;
    @include tablet{
      margin-top: -2%;
    }
    @include pad{
      display: none;
    }
  }
}

.kiwi {
  width: 12%;
  margin-left: 82%;
  margin-top: 30%;
  position: absolute;
  img {
    position: relative;
  }
}

@include tablet{
  div.qa_step{
    display: none;
      .up{
        display: none;
      }
      
  }
  div.qa_item{
    margin-top: -6%;
    margin-left: 30px;

    div.qa_problem{
      width: 80%;
    }
  }
  
  .kiwi{
    display: none;
  }

}

@include pad {
  
  div.qa_item{
    div.qa_problem {
      width: 100%;
    }
  }

  div.qa_item{
    .aside{
      width: 100%;
      //display: none;
      .qa_list{
            width: 100%;
            background-color: $bkc_yellow;
            position: static;
            border-radius: 8px;
        h2{
            padding: 30px;
            margin-left: 0%;
            background-color: $darkgreen;
            color: $white;
            border-radius: 8px;
            background-image: url(../../images/shopping_page/shopping_ham.svg);
            background-repeat: no-repeat;
            background-position: top 50%  right 10%;
            background-size: 50px;
            cursor: pointer;
        }
        hr{
            display: none;
            
        }
      }
    }

  }

}

