.shopping_main_block{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 50px;
    display: flex;
    .shopping_nav_block{
        width: 20%;
        position: sticky;
        top:5%;
        align-self: flex-start;
        h2{
            margin-left: 5%;
        }
        hr{
            display: block;
            height: 3px;
            border: 0px;
            margin: 10px 0px;
            background-color: $brown;
        }
        .shopping_box_block{
            margin: 20px 0px;
            h3{
                padding-left: 10%;
                position: relative;
                cursor: pointer;
                img{
                    position: absolute;
                    top: 50%;
                    right: 10%;
                    transform: translateY(-50%);
                    transition: 0.3s;
                }
            }
            .shopping_box_link{
                display: none;
                a{
                    @include a_link();
                    display: block;
                    font-size: $h4;
                    margin-top: 15px;
                    padding-left: 20%;
                    cursor: pointer;
                }
            }
        }
        .shopping_veg_block{
            margin: 20px 0;
            h3{
                padding-left: 10%;
                position: relative;
                cursor: pointer;
                img{
                    position: absolute;
                    top: 50%;
                    right: 10%;
                    transform: translateY(-50%);
                    transition: 0.3s;
                }
            }
            .shopping_veg_link{
                display: none;
                a{
                    @include a_link();
                    display: block;
                    font-size: $h4;
                    margin-top: 15px;
                    padding-left: 20%;
                    cursor: pointer;
                }
            }
        }
        .shopping_fruit_block{
            margin: 20px 0;
            h3{
                padding-left: 10%;
                position: relative;
                cursor: pointer;
                img{
                    position: absolute;
                    top: 50%;
                    right: 10%;
                    transform: translateY(-50%);
                    transition: 0.3s;
                }
            }
            .shopping_fruit_link{
                display: none;
                a{
                    @include a_link();
                    display: block;
                    font-size: $h4;
                    margin-top: 15px;
                    padding-left: 20%;
                    cursor: pointer;
                }
            }
        }
        .shopping_customer_block{
            a{
                @include a_link();
                display: block;
                margin: 15px 0px;
                padding-left: 10%;
            }
        }
    }
    .shopping_page_list{
        width: 75%;
        margin-left: 5%;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        .shopping_product_block{
            width: calc((100% - 90px) / 3);
            margin: 0px 15px 40px 15px;
            transition: 0.5s;
            &:hover{
                opacity: 0.8;
                transform: translateY(-10px);
            }
            a{
                @include a_link();
                display: block;
                .shopping_product_pic{
                    position: relative;
                    border: 1px solid $brown;
                    img{
                        max-width: 100%;
                    }
                    span{
                        position: absolute;
                        bottom: 5%;
                        right: 5%;
                        border-radius: 50%;
                        border: 1px solid $brown;
                        width: 50px;
                        height: 50px;
                        background-color: $white;
                        background-image: url(../images/shopping_page/shopping_incart.svg);
                        background-repeat: no-repeat;
                        background-size: 70%;
                        background-position: center;
                        transition: 0.5s;
                        &:hover{
                            bottom: 7%;
                        }
                    }
                }
                .shopping_product_name{
                    text-align: center;
                    margin: 20px 0px;
                }
                .shopping_product_intro{
                    margin: 20px 0;
                    line-height: 1.5em;
                    padding: 0px 10%;
                    text-align: center;
                }
                .shopping_product_price{
                    text-align: center;
                    margin: 20px 0px;
                }
            }
        }

        // 商品內頁
        .card_wapper{
            box-shadow: 0px 0px 5px 5px #D6D6D6;
            padding: 50px 1% 20px 1%;
            width: 100%;
            position: relative;
            @include tablet{
                padding: 80px 1% 20px 1%;
            }
            .go_back_btn{
                position: absolute;
                top: 1%;
                right: 1%;
                vertical-align: middle;
                line-height: 30px;
                transition: 0.5s;
                img{
                    display: block;
                    text-align: center;
                    @include marginAuto();
                    width: 30px;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
            .card{
                display: flex;
                justify-content: space-between;
                @include tablet{
                    flex-direction: column;
                }
                .products_imgs{
                    width: 50%;
                    align-items: center;
                    text-align: center;
                    transition: all 0.5s ease;
                    @include tablet{
                        width: 100%;
                    }
                    #ProductImg{
                        width: 75%;
                    }
                    .small-img-row{
                        display: flex;
                        justify-content: space-between;
                        margin: 20px 0px;
                        flex-wrap: wrap;
                        @include tablet{
                            padding: 0 5%;
                        }
                        .small-img-col{
                            flex-basis: 24%;
                            cursor: pointer;
                        }
                    }
                }
                .products_content{
                    width: 45%;
                    @include tablet{
                        width: 100%;
                        padding: 0 5%;
                    }
                    h2{
                        margin-bottom: 20px;
                    }
                    .product_price{
                        font-size: $h4;
                        .last_price{
                            margin: 20px 0px;
                        }
                        .new_price{
                            vertical-align: top;
                            margin: 20px 0px;
                            .inside_value{
                                vertical-align: top;
                                width: 20%;
                                font-size: $h4;
                                font-family: "huninn";
                                color: $font_color;
                            }
                        }
                    }
                    .product_detail{
                        h2{
                            margin: 30px 0px;
                        }
                        ul{
                            margin: 20px 0px;
                            font-size: $h4;
                            li{
                                margin: 5px 0px;
                                line-height: 1.5em;
                            }
                        }
                    }
                    .purchase_info{
                        font-size: 0;
                        text-align: center;
                        a{
                            font-size: $h4;
                            @include btn(40%);
                            margin: 0 5%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@include tablet {
    .shopping_main_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 50px;
        display: flex;
        .shopping_nav_block{
            width: 20%;
            position: sticky;
            top:100px;
            align-self: flex-start;
            h2{
                margin-left: 5%;
            }
            hr{
                display: block;
                height: 3px;
                border: 0px;
                margin: 10px 0px;
                background-color: $brown;
            }
            .shopping_box_block{
                margin: 20px 0px;
                h3{
                    padding-left: 5%;
                    position: relative;
                    cursor: pointer;
                    img{
                        position: absolute;
                        top: 50%;
                        right: 10%;
                        transform: translateY(-50%);
                        
                    }
                }
                .shopping_box_link{
                    display: none;
                    a{
                        @include a_link();
                        display: block;
                        font-size: $h4;
                        margin-top: 15px;
                        padding-left: 15%;
                    }
                }
            }
            .shopping_veg_block{
                margin: 20px 0;
                h3{
                    padding-left: 5%;
                    position: relative;
                    cursor: pointer;
                    img{
                        position: absolute;
                        top: 50%;
                        right: 10%;
                        transform: translateY(-50%);
                    }
                }
                .shopping_veg_link{
                    display: none;
                    a{
                        @include a_link();
                        display: block;
                        font-size: $h4;
                        margin-top: 15px;
                        padding-left: 15%;
                    }
                }
            }
            .shopping_fruit_block{
                margin: 20px 0;
                h3{
                    padding-left: 5%;
                    position: relative;
                    cursor: pointer;
                    img{
                        position: absolute;
                        top: 50%;
                        right: 10%;
                        transform: translateY(-50%);
                    }
                }
                .shopping_fruit_link{
                    display: none;
                    a{
                        @include a_link();
                        display: block;
                        font-size: $h4;
                        margin-top: 15px;
                        padding-left: 15%;
                    }
                }
            }
            .shopping_customer_block{
                a{
                    @include a_link();
                    display: block;
                    margin: 15px 0px;
                    padding-left: 5%;
                }
            }
        }
        .shopping_page_list{
            width: 75%;
            margin-left: 5%;
            display: flex;
            flex-wrap: wrap;
            .shopping_product_block{
                width: calc((100% - 90px) / 3);
                margin: 0px 15px 40px 15px;
                transition: 0.5s;
                &:hover{
                    opacity: 0.8
                }
                a{
                    @include a_link();
                    display: block;
                    .shopping_product_pic{
                        position: relative;
                        border: 1px solid $brown;
                        img{
                            max-width: 100%;
                        }
                        span{
                            position: absolute;
                            bottom: 5%;
                            right: 5%;
                            border-radius: 50%;
                            border: 1px solid $brown;
                            width: 50px;
                            height: 50px;
                            background-color: $white;
                            background-image: url(../images/shopping_page/shopping_incart.svg);
                            background-repeat: no-repeat;
                            background-size: 70%;
                            background-position: center;
                        }
                    }
                    .shopping_product_name{
                        text-align: center;
                        margin: 20px 0px;
                    }
                    .shopping_product_intro{
                        margin: 20px 0;
                        line-height: 1.5em;
                        padding: 0px 10%;
                    }
                    .shopping_product_price{
                        text-align: center;
                        margin: 20px 0px;
                    }
                }
            }
        }
    } 
}

@include pad {
    .shopping_main_block{
        width: 90%;
        max-width: 1200px;
        @include marginAuto();
        margin-top: 50px;
        display: block;
        .shopping_nav_block{
            width: 100%;
            background-color: $bkc_yellow;
            position: static;
            border-radius: 8px;
            h2{
                padding: 30px;
                margin-left: 0%;
                background-color: $darkgreen;
                color: $white;
                border-radius: 8px;
                background-image: url(../images/shopping_page/shopping_ham.svg);
                background-repeat: no-repeat;
                background-position: top 50%  right 10%;
                background-size: 50px;
                cursor: pointer;
            }
            hr{
                display: none;
            }
            .show_box_block{
                display: none;
                padding-bottom: 40px;
                .shopping_box_block{
                    margin: 30px 0px;
                    h3{
                        margin: 0 10%;
                        padding: 10px 5%;
                        position: relative;
                        cursor: pointer;
                        border-bottom: 3px solid $brown;
                        img{
                            position: absolute;
                            top: 50%;
                            right: 10%;
                            transform: translateY(-50%);
                        }
                    }
                    .shopping_box_link{
                        display: none;
                        a{
                            @include a_link();
                            display: block;
                            font-size: $h4;
                            margin-top: 15px;
                            padding-left: 20%;
                        }
                    }
                }
                .shopping_veg_block{
                    margin: 30px 0;
                    h3{
                        margin: 0 10%;
                        padding: 10px 5%;
                        position: relative;
                        cursor: pointer;
                        border-bottom: 3px solid $brown;
                        img{
                            position: absolute;
                            top: 50%;
                            right: 10%;
                            transform: translateY(-50%);
                        }
                    }
                    .shopping_veg_link{
                        display: none;
                        a{
                            @include a_link();
                            display: block;
                            font-size: $h4;
                            margin-top: 15px;
                            padding-left: 20%;
                        }
                    }
                }
                .shopping_fruit_block{
                    margin: 30px 0;
                    h3{
                        margin: 0 10%;
                        padding: 10px 5%;
                        position: relative;
                        cursor: pointer;
                        border-bottom: 3px solid $brown;
                        img{
                            position: absolute;
                            top: 50%;
                            right: 10%;
                            transform: translateY(-50%);
                        }
                    }
                    .shopping_fruit_link{
                        display: none;
                        a{
                            @include a_link();
                            display: block;
                            font-size: $h4;
                            margin-top: 15px;
                            padding-left: 20%;
                        }
                    }
                }
                .shopping_customer_block{
                    a{
                        @include a_link();
                        display: block;
                        margin: 0 10%;
                        margin-top: 10px;
                        padding: 10px 5%;
                        border-bottom: 3px solid $brown;
                    }
                }
            }
        }
        .shopping_page_list{
            margin-top: 30px;
            width: 100%;
            margin-left: 0%;
            display: flex;
            flex-wrap: wrap;
            .shopping_product_block{
                width: calc((100% - 80px) / 2);
                margin: 0px 20px 40px 20px;
                transition: 0.5s;
                &:hover{
                    opacity: 0.8
                }
                a{
                    @include a_link();
                    display: block;
                    .shopping_product_pic{
                        position: relative;
                        border: 1px solid $brown;
                        img{
                            max-width: 100%;
                        }
                        span{
                            position: absolute;
                            bottom: 5%;
                            right: 5%;
                            border-radius: 50%;
                            border: 1px solid $brown;
                            width: 50px;
                            height: 50px;
                            background-color: $white;
                            background-image: url(../images/shopping_page/shopping_incart.svg);
                            background-repeat: no-repeat;
                            background-size: 70%;
                            background-position: center;
                        }
                    }
                    .shopping_product_name{
                        text-align: center;
                        margin: 20px 0px;
                    }
                    .shopping_product_intro{
                        margin: 20px 0;
                        line-height: 1.5em;
                        padding: 0px 10%;
                    }
                    .shopping_product_price{
                        text-align: center;
                        margin: 20px 0px;
                    }
                }
            }
        }
    } 
}

// 換頁開始
.shooping_change_page{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    .change_page_block{
        width: 60%;
        @include marginAuto();
        display: flex;
        justify-content: center;
        cursor: pointer;
        .page_prev{
            width: 50px;
            height: 50px;
            position: relative;
            background-color: $white;
            border: 1px solid $brown;
            &:hover{
                background-color: $green;
                color: $white;
            }
            img{
                display: inline-block;
                width: 50%;
                @include abs_center();
                height: 50px;
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
        .shopping_page{
            width: 50px;
            height: 50px;
            background-color: $white;
            border: 1px solid $brown;
            border-left: 0;
            line-height: 50px;
            text-align: center;
            font-size: $h3;
            a{
                @include a_link();
            }
            &:hover,
            &:hover > a{
                background-color: $green;
                color: $white;
            }
        }
        .page_next{
            width: 50px;
            height: 50px;
            background-color: $white;
            border: 1px solid $brown;
            border-left: 0;
            position: relative;
            &:hover{
                background-color: $green;
                color: $white;
            }
            img{
                display: inline-block;
                width: 50%;
                @include abs_center();
                height: 50px;
                transform: translate(-50%, -50%) rotate(-90deg);
            }
        }
    }
}

@include tablet {
    .shooping_change_page{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 100px;
        .change_page_block{
            width: 60%;
            @include marginAuto();
            display: flex;
            cursor: pointer;
            .page_prev{
                width: 50px;
                height: 50px;
                position: relative;
                background-color: $white;
                border: 1px solid $brown;
                img{
                    display: inline-block;
                    width: 50%;
                    @include abs_center();
                    height: 50px;
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
            .shopping_page{
                width: 50px;
                height: 50px;
                background-color: $white;
                border: 1px solid $brown;
                border-left: 0;
                line-height: 50px;
                text-align: center;
                font-size: $h3;
                a{
                    @include a_link();
                }
                &:hover,
                &:hover > a{
                    background-color: $green;
                    color: $white;
                }
            }
            
            .page_next{
                width: 50px;
                height: 50px;
                background-color: $white;
                border: 1px solid $brown;
                border-left: 0;
                img{
                    display: inline-block;
                    width: 50%;
                    @include abs_center();
                    height: 50px;
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }
    }
}


// 商品內頁開始




.shopping_footer_img{
    position: absolute;
    top: -15%;
    left: 0%;
    width: 200px;
    @include tablet {
        display: none;
    }
}

.shopping_aside_pic{
    position: absolute;
    top: 100%;
    left: -40%;
    @include tablet {
        display: none;
    }
}

.arrow_updown{
    transform: translateY(-50%) rotate(180deg) !important ;
}

.on_this_page{
    background-color: $green;
    color: $white;
}

// 結帳彈窗
.item_buy{
    display: none;
    .black_black{
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 49;
        @include tablet{
          height: 100%;
        }
    }
    .shopping_item_block{
        @include abs_center();
        position: fixed;
        background-color: $white;
        width: 30%;
        padding: 30px 0px;
        border-radius: 25px;
        overflow: hidden;
        z-index: 50;
        @include tablet{
            top: 59%;
            width: 50%;
        }
        @include mobile{
            
        }

        h4{
            padding: 20px 20px;
            text-align: center;
        }
         
        .close_up{
            @include btn(50%);
            display: block;
            @include marginAuto();
            margin-top: 30px;
        }
    }
}