
//生產概要
.production_summary{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
  .production_summary_para{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    h2{
      position: relative;
       }
    h2:after{
        @include underline();
    }
    p{
        display:flex;
        justify-content: center;
        align-items: center;
        position:relative;
    }
    p:before{
      content:"";
      background-image: url("../images/farm/carrot.svg");
      background-repeat: no-repeat;
      background-size: cover;
      position:absolute;
      border: #91C359;
      width:15px;
      height:20px;
      left:-22px;
      top:0;
    }
  }
}
//生產流程
.production_process_box{
  margin-top:50px;
  .production_process{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
      h2{
        position: relative;
         }
      h2:after{
          @include underline();
      }
    .process_content_box{
      margin-top:30px;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      align-items: center;
      .process_content{
        display: flex;
        .process_item{
          display: flex;
          flex-direction: column;
          vertical-align: middle;
          align-items: center;
          img{
            border-radius: 50%;
            width:150px;
            padding:10px;
          }
        }
      }
    }
    //品種介紹進度條
    .process_bar{
      margin-top:20px;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      align-items: center;
      width:100%;
      .bar_item{
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
        width:1030px;
        border:1px solid #91C359;
        height: 20px;
        border-radius:30px;
        position:relative;
        .small_bar{
          background-color: #91C359;
          width:120px;
          height: 20px;
          border-radius:30px;
          position: absolute;
          left:0;
          //小動畫
          animation-name:process_bar;
          animation-duration: 8s;
          animation-delay: 1s;
          animation-iteration-count:infinite;
          @keyframes process_bar {
            0%{
              transform: translate(0px);
            }
            10%{
              transform: translate(150px);
            }
            20%{
              transform: translate(300px);
            }
            30%{
              transform: translate(450px);
            }
            40%{
              transform: translate(600px);
            }
            50%{
              transform: translate(750px);
            }
            100%{
              transform: translate(908px);
            }
          }

        }
      }
    }
    .vagatable_process_box{
      margin-top:40px;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      align-items: center;
      width:100%;
      max-width: 500px;
      //border:1px solid red;
      .vagatable_process_content{
        .vagatable_process_pic{
          width:100%;
        }
        .vagatable_process_descript{
          //border:1px solid rgb(103, 17, 233);
          display: flex;
          flex-direction: column;
          vertical-align: middle;
          align-items: center;
          width:100%;
          h3{
            position: relative;
             }
          h3:after{
              @include underline();
          }
          p{
            padding:10px 0px;
          }
        }
      }
    }
  }
}
//蔬菜&水果生產表格
.vagatable_table{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  width:100%;
  height:100%;
    h2{
      position: relative;
       }
    h2:after{
        @include underline();
    }
  .tb{
    border:3px solid #BBA881;
    display:flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    width:70%;
    .row{
      display:flex;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      flex-direction: row;
      width:100%;
      .th{
        border:1px solid #BBA881;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        width:100%;
        height: 100%;
        padding:5px;
        height:30px;
        border-collapse:collapse;
      }
      .tr{
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        width:100%;
        //padding:1px;
      }
      .td{
        //border:1px solid #BBA881;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        width:100%;
        height:100%;
        padding:5px;
        height:30px;
        border:1px solid #BBA881;
      }
    }
    //高麗菜
    #cabbage{
      .tr{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/cabbage.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
          @include vagatable_fruit_table_animation;

        }
      }      
    }
    //小白菜
    #chinese_cabbage{
      .tr{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/chinese_cabbage.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
    //萵苣
    #lettuce{
      .tr{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/lettuce.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
    //紅蘿蔔
    #carrot{
      .tr{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/carrot.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
    //白蘿蔔
    #white_radish{
      // background-color: rgb(27, 235, 41);
      .tr{
        .y{
          position:relative;
        }
        .y::after{
          content:"";
          background-image: url("../images/farm/table/white_radish.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
      //玉米
    #corn{
      .tr{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/corn.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
      //大番茄
      #tomato{
        .tr{
          .y{
            position:relative;
          }
          .y::after{
            content:"";
            background-image: url("../images/farm/table/tomato.png");
            background-repeat: no-repeat;
            background-size: cover;
            position:absolute;
            width:20px;
            height: 20px;
            @include vagatable_fruit_table_animation;
          }
        }
      }
        //地瓜
      #sweet_potato{
        .tr{
          .y{
            position:relative;
          }
          .y::after{
            content:"";
            background-image: url("../images/farm/table/sweet_potato.png");
            background-repeat: no-repeat;
            background-size: cover;
            position:absolute;
            width:20px;
            height: 20px;
            @include vagatable_fruit_table_animation;
          }
        }
      } 
  }
}

//水果生產表格
.fruit_table{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  width:100%;
  height:100%;
    h2{
      position: relative;
       }
    h2:after{
        @include underline();
    }
  .tb{
    border:3px solid #BBA881;
    display:flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    width:70%;
    .row{
      display:flex;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      flex-direction: row;
      width:100%;
      .th{
        border:1px solid #BBA881;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        width:100%;
        height: 100%;
        padding:5px;
        height:30px;
        border-collapse:collapse;
      }
      .tr{
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        width:100%;
        //padding:1px;
      }
      .td{
        //border:1px solid #BBA881;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        width:100%;
        height:100%;
        padding:5px;
        height:30px;
        border:1px solid #BBA881;
      }
    }
    //草莓
    #strawberry{
      .tr{
        .y{
          position:relative;
        }
        .y::after{
          content:"";
          background-image: url("../images/farm/table/strawberry.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:9px;
          height:12px;
          // border:1px solid red;
          @include vagatable_fruit_table_animation;
        }
      }      
    }
    //芒果
    #mango{
      .tr{
        .y{
          position:relative;
        }
        .y::after{
          content:"";
          background-image: url("../images/farm/table/mango.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
    //柳丁
    #orange{
      .tr{
        .y{
          position:relative;
        }
        .y::after{
          content:"";
          background-image: url("../images/farm/table/orange.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
    //小番茄
    #cherry_tomato{
      .tr{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/cherry_tomato.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:30px;
          height: 30px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
    //香蕉
    #banana{
      // background-color: rgb(27, 235, 41);
      .tr{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/banana.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:30px;
          height: 30px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
      //芭樂
    #guava{
      .tr{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/guava.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:30px;
          height: 30px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
    //檸檬
    #lemon{
      .tr{
        .y{
          position:relative;
        }
        .y::after{
          content:"";
          background-image: url("../images/farm/table/lemon.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:30px;
          height: 30px;
          @include vagatable_fruit_table_animation;
        }
      }
    }
      //柿子
    #persimmon{
      .tr{
        .y{
          position:relative;
        }
        .y::after{
          content:"";
          background-image: url("../images/farm/table/persimmon.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:30px;
        height: 30px;
        @include vagatable_fruit_table_animation;
        }
      }
    } 
  }
}
//品種介紹
.detail_introduce_box{
  margin-top:100px;
  .detail_introduce_content{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
      h2{
        position: relative;
         }
      h2:after{
          @include underline();
      }
      .detail_introduce_item_box{
        display:flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        flex-wrap: wrap;
        width:60%;
        .detail_introduce_item{
          padding:20px;
          img{
            border-radius: 50%;
            border:7px solid #91C359;
            width:120px;
            height:120px;
            padding:5px;
          }
        }
        .strawberry{
          img{
            padding:15px 18px;
          }
        }
      }
      //品種介紹內容
      .detail_introduce_detail_content_box{
        box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 33px;
        padding:20px;
        background-color: #fff;
        .detail_introduce_detail_content{
          max-width:500px;
          .detail_introduce_detail_pic{
            img{
              width:100%;
            }
          }
          .detail_introduce_detail_pic_title{
            display:flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            margin-bottom:10px;
          }
          .vagatable_introduce , .fruit_introduce{
            .vagatable_vertify_name , .fruit_vertify_name{
              p{
                padding:5px 0px 5px 15px;
              }
            }
            .vagatable_planting_conditions , .fruit_planting_conditions{
              p{
                padding:5px 0px 5px 15px;
              }
            }
            .swetness{
              p{
                padding:5px 0px 5px 15px;
              }
            }
          }
        }
      }
  }
}
.farm_products_box{
  margin-top:100px;
  margin-bottom: 100px;
  .farm_products{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
      h2{
        position: relative;
         }
      h2:after{
          @include underline();
      }
    .farm_products_item_box{
      display:flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      flex-wrap: wrap;
      width:60%;
      // border:1px solid rgb(141, 16, 208);
      .farm_products_item{
        // border:1px solid red;
        display:flex;
        padding:20px;
        img{
          max-width:200px;
          max-height:200px;
        }
      }
    }
  }
}
//蔬菜跟水果介紹頁footer種樹裝飾圖
.vagatable_and_fruit_introduction_footer_decoration_pic{
  position:relative;
  img{
    width:150px;
      position: absolute;
      bottom:-80px;
      right: 110px;
      z-index: 1;
  }
}