
//生產概要
.production_summary{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
  .production_summary_para{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    h2{
      position: relative;
       }
    h2:after{
        @include underline();
    }
    p{
        display:flex;
        justify-content: center;
        align-items: center;
    }
  }
}
//生產流程
.production_process_box{
  margin-top:50px;
  .production_process{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
      h2{
        position: relative;
         }
      h2:after{
          @include underline();
      }
    .process_content_box{
      margin-top:30px;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      align-items: center;
      .process_content{
        display: flex;
        .process_item{
          display: flex;
          flex-direction: column;
          vertical-align: middle;
          align-items: center;
          img{
            border-radius: 50%;
            width:150px;
            padding:10px;
          }
        }
      }
    }
    //品種介紹進度條
    .process_bar{
      margin-top:20px;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      align-items: center;
      width:100%;
      .bar_item{
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
        width:1030px;
        border:1px solid #91C359;
        height: 20px;
        border-radius:30px;
        position:relative;
        .small_bar{
          background-color: #91C359;
          width:120px;
          height: 20px;
          border-radius:30px;
          position: absolute;
          left:0;
          //小動畫
          animation-name:process_bar;
          animation-duration: 8s;
          animation-delay: 1s;
          animation-iteration-count:infinite;
          @keyframes process_bar {
            0%{
              transform: translate(0px);
            }
            10%{
              transform: translate(150px);
            }
            20%{
              transform: translate(300px);
            }
            30%{
              transform: translate(450px);
            }
            40%{
              transform: translate(600px);
            }
            50%{
              transform: translate(750px);
            }
            100%{
              transform: translate(908px);
            }
          }

        }
      }
    }
    .vagatable_process_box{
      margin-top:40px;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      align-items: center;
      width:100%;
      // border:1px solid red;
      .vagatable_process_content{
        .vagatable_process_pic{
          width:100%;
        }
      }
    }
  }
}
//蔬果表格
.vagatable_table{
  margin-top: 100px;
  border:1px solid rgb(101, 89, 89);
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  width:100%;
  height:100%;
    h2{
      position: relative;
       }
    h2:after{
        @include underline();
    }
  .tb{
    display:flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    width:60%;
    .row{
      border:1px solid red;
      display:flex;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      flex-direction: row;
      width:100%;
      .th{
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        width:100%;
        padding:5px;
      }
      .td{
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        width:100%;
        // border:1px solid rgb(174, 0, 255);
      }
    }
    //高麗菜
    #cabbage{
      .td{
        position:relative;
      }
      .td::after{
        content:"";
        background-image: url("../images/farm/table/cabbage.png");
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        width:20px;
        height: 20px;
      }
    }
    //小白菜
    #chinese_cabbage{
      .td{
        position:relative;
      }
      .td::after{
        content:"";
        background-image: url("../images/farm/table/chinese_cabbage.png");
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        width:20px;
        height: 20px;
      }
    }
    //萵苣
    #lettuce{
      .td{
        position:relative;
      }
      .td::after{
        content:"";
        background-image: url("../images/farm/table/lettuce.png");
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        width:20px;
        height: 20px;
      }
    }
    //紅蘿蔔
    #carrot{
      .td{
        position:relative;
      }
      .td::after{
        content:"";
        background-image: url("../images/farm/table/carrot.png");
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        width:20px;
        height: 20px;
      }
    }
    //白蘿蔔
    #white_radish{
      // background-color: rgb(27, 235, 41);
      .td{
        position:relative;
      }
      .td::after{
        content:"";
        background-image: url("../images/farm/table/white_radish.png");
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        width:20px;
        height: 20px;
      }
    }
      //玉米
    #corn{
      .td{
        position:relative;
      }
      .td::after{
        content:"";
        background-image: url("../images/farm/table/corn.png");
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        width:20px;
        height: 20px;
      }
    }
      //大番茄
      #tomato{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/tomato.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
        }
      }
        //地瓜
      #sweet_potato{
        .td{
          position:relative;
        }
        .td::after{
          content:"";
          background-image: url("../images/farm/table/sweet_potato.png");
          background-repeat: no-repeat;
          background-size: cover;
          position:absolute;
          width:20px;
          height: 20px;
        }
      }
  }
}
//品種介紹
.detail_introduce_box{
  .detail_introduce_content{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
      h2{
        position: relative;
         }
      h2:after{
          @include underline();
      }
      .detail_introduce_item_box{
        display:flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        flex-wrap: wrap;
        width:60%;
        .detail_introduce_item{
          padding:20px;
          img{
            border-radius: 50%;
            border:7px solid #91C359;
            width:120px;
            height:120px;
          }
        }
      }
      //品種介紹內容
      .detail_introduce_detail_content_box{
        box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 33px;
        padding:20px;
        background-color: #fff;
        .detail_introduce_detail_content{
          .detail_introduce_detail_pic{
            img{
              width:100%;
            }
          }
          .detail_introduce_detail_pic_title{
            display:flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            margin-bottom:10px;
          }
          .vagatable_introduce{
            .vagatable_vertify_name{
              p{
                padding:5px 0px 5px 15px;
              }
            }
            .vagatable_planting_conditions{
              p{
                padding:5px 0px 5px 15px;
              }
            }
          }
        }
      }
  }
}
.farm_products_box{
  margin-top:100px;
  .farm_products{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
      h2{
        position: relative;
         }
      h2:after{
          @include underline();
      }
    .farm_products_item_box{
      display:flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      flex-wrap: wrap;
      width:60%;
      // border:1px solid rgb(141, 16, 208);
      .farm_products_item{
         border:1px solid red;
        display:flex;
        padding:20px;
        img{
          max-width:200px;
          max-height:200px;
        }
      }
    }
  }
}