.checkout_s2_shopping_detail{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    background-color: $bkc_lightorange;
    p{
        font-size: 20px;
        padding: 10px 0px 10px 45%;
    }
    .checkout_s2_shopping_detail_total{
        background-image: url(../../images/plus_icon.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 60% ,50% ;
    }
}

.chekout_s2_order_detail_block{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 70px;
    display: flex;
    .checkout_s2_receiver_infro{
        width: 40%;
        background-color: $white;
        align-self: flex-start;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        .checkout_s2_receiver_infro_group{
            margin-top: 10px;
            padding: 10px 10%;
            input{
                margin-top: 5px;
                display: block;
                width: 100%;
                padding: 5px;
            }
            select{
                @extend input
            }
        }
    }
    .checkout_s2_deliver_infro{
        width: 40%;
        margin-left: 20%;
        background-color: $white;
        font-size: 0px;
        align-self: flex-start;
        padding-bottom: 20px;
        h3{
            font-size: $h3;
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        .checkout_s2_deliver_infro_check{
            display: block;
            margin: 10px 0px;
            padding: 10px 10%;
            font-size: $h4;
        }
        .checkout_s2_deliver_infro_group{
            margin-top: 10px;
            padding: 10px 10%;
            font-size: 0px;
            label{
                display: block;
                margin: 5px 0px;
                font-size: $h4;
            }
            input{
                margin-top: 5px;
                display: block;
                width: 100%;
                padding: 5px;
                font-size: $h4;
            }
            hr{
                margin-top:15px;
            }
            .checkout_s2_city{
                display: inline-block;
                width: 45%;
                padding: 5px;
                font-size: $h4;
            }
            .checkout_s2_area{
                @extend.checkout_s2_city;
                margin-left: 10%;
            }
            p{
                font-size: $h4;
            }
        }
    }
}

.chekout_s2_order_other_block{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 0px;
    display: flex;
    .chekout_s2_order_other_block_note{
        width: 40%;
        background-color: $white;
        align-self: flex-start;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        textarea{
            display: block;
            padding: 10px;
            margin: 20px 10% 0px 10%;
            width: 80%
        }
    }
    .chekout_s2_order_other_block_pay{
        width: 40%;
        margin-left: 20%;
        margin-top: 70px;
        background-color: $white;
        padding-bottom: 20px;
        h3{
            background-color: $bkc_lightorange;
            padding: 10px 10%;
        }
        p{
            padding: 20px 0 0 10%;
            font-size: $h3;
        }
    }
}

.chekout_s2_order_privacy{
    width: 80%;
    max-width: 1200px;
    @include marginAuto();
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
    span{
        margin-left: 10px;
    }
    .chekout_s2_order_privacy_next{
        button{
            @include btn(250px);
            padding: 10px;
            margin: 50px 50px;
            font-size: 20px;
        }
    }
}

