
//價格欄位
.price_butten{
    width: 80%;
    @include marginAuto();
    display: flex;
    max-width: 1200px;
    cursor: pointer;
    button{
        @include btn(100px ,50px);
        font-weight: 700;
        font-size: $h3;
        cursor: pointer;
    }
}

//蔬果箱欄位
.fruits_box_two{
    width: 80%;
    @include marginAuto();
    display: flex;
    max-width: 1200px;

    // 蔬菜箱移除選項
    .fruits_remove_menu{
        //border: 1px solid purple;
        width: 8%;
        background-color:$bkc_yellow ;
        margin-top: 2%;
        border-radius: 10px;
        //height: 35vh;      
        right: 0;

        // 左側黃色移除選項
        .five_fruits{
            //border: 1px solid black;
            padding-top: 20px;
            button{
                @include  btn_small(30% ,30%);
                cursor: pointer;
            }
            .fruit_1{
                border: 1px solid purple;
                width: 100%;
               
            } 
            
            .fruit_2{
                border: 1px solid purple;
                width: 100%;
                height: 12vh; 
            } 

            .fruit_3{
                border: 1px solid purple;
                width: 100%;
                height: 12vh; 
            } 

            .fruit_4{
                border: 1px solid purple;
                width: 100%;
                height: 12vh; 
            } 

            .fruit_5{
                border: 1px solid purple;
                width: 100%;
                height: 12vh; 
            } 


      
        }
    }

    // 蔬菜箱整體
    .fruits_basket{
        border: 1px solid orange;
        width: 70%;
        height: 65vh;
        margin-left: 2%;
        margin-top: 20px;
    }
        // 按鈕
        .fruits_check_butten{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: -4%;
        
        button{
            outline: none;
            border: 0;
            padding: 0;
            
        }
            button.box_check{
                //border: 1px solid black;
                background-color:$darkgreen;
                height: 6vh;
                width: 6vh;
                color: $darkgreen;
                margin-right: 10px;
                border-radius: 10px;
                cursor: pointer;
            }

            button.box_delete{
                //border: 1px solid black;
                background-color:$yellow;
                height: 6vh;
                width: 6vh;
                border-radius: 10px;
                cursor: pointer;
            }
        }

        // 蔬菜箱內部
        .fruits_basket{

            width: 70%;
            
            #wooden{
                width: 78%;
                top: 45%;
                left: 15%;
                z-index:1;
                position:absolute;
            }
    
            #wooden_box{
                width: 100%;
                z-index:0;
                top: 24%;
                left: 0%;
                position:absolute;
            }
            
            #avocado{
                width: 33%;
                z-index:0;
                top: 15%;
                left: 59%;
                position:absolute;
            }

            #carrot{
                width: 33%;
                z-index:0;
                top: 30%;
                left: 34%;
                position:absolute;
            }
            







        }
       
    }

// 選擇蔬果第二大欄 
.select_fruits{

    @include marginAuto();
    margin-top: 3%; 
    border: 1px solid red;
    max-width: 1200px;
    width: 80%;
        // 選擇蔬果細項
        .fruits_basket{
            border: 3px dashed $brown;
            width: 82%;
            margin-top: -2.3%;
            border-radius: 10px;
           
            .fruits_first_row,.fruits_second_row{
                display: flex;
                margin-top: 40px;
                justify-content: center;
                text-align: center;
                
                img{
                    width: 100%;
                }

                h5{
                    margin-top: 6px;
                }
            }

            .fruits_second_row{
                height: 200px;
            }
            

        }  
    

}

//  文字替換 

.product_directions{
    background-color: $yellow;
    padding: 10px 10%;
    height: 5vh;
    border: 1px solid red;
    .select{
        width: 30%;
    }
}



//滿額贈
.free_give{
    width: 80%;
    display: flex;
    max-width: 1200px;
    height: 35vh;
    @include marginAuto();
    // .free_give_people{
    //     width: 80%;
    //     //height: 35vh;
    //     border: 1px solid rgb(252, 53, 53);

    //     h3{
            
    //         //height: 50vh;
    //         margin-top: 10%;
    //         }
    // }

}









// .animal_ufo_ushi{
    
//     img{
//         width: 13%;
        
//         margin-left: 9%;
//         top: -28%;
//     }
// }