.body_area {
  width: 95%;

  a {
    @include a_link();
  }

  .text_underline {
    border-top: 5px solid $text_underline;
    width: 120px;
    @include marginAuto();
    margin-top: 5px;
  }
}

.header {
  .title {
    .title_pic_index {
      height: 100vh;
    }
  }
}

.news {
  // border: 1px solid red;
  margin: 100px auto 50px auto;
  width: 100%;
  max-width: 1920px;
  height: 700px;

  .news_title {
    padding: 80px 0 60px 0;
    text-align: center;
  }

  .news_board {
    // border: 1px solid red;
    width: 100%;
    height: 500px;
    max-width: 1920px;
    @include marginAuto();
    display: flex;

    .news_board_card {
      // border: 1px solid blue;
      @include marginAuto();
      width: 50%;
      margin: 0 10px;

      .card_cover {
        width: 100%;
        overflow: hidden;


        img {
          width: 100%;
          @include marginAuto();
          border-radius: 15px;

          &:hover {
            transform: scale(1.05);
            transition: transform 1s;
          }
        }
      }

      .news_card_text {
        // border: 1px solid blue;
        width: 80%;
        @include marginAuto();

        p {
          height: 100px;
          padding: 15px;
        }

        h4 {
          text-align: center;
          padding-top: 20px;

        }

        h5 {
          text-align: center;
        }
      }
    }
  }
}


.go_buy_all {
  padding-bottom: 100px;
}

.go_buy {
  // border: 1px solid green;
  // height: 1000px;
  position: relative;

  .buy_scroll {
    background-image: url("../../images/index/02_buy_scroll.png");
    width: 100%;
    height: 80vh;
    max-height: 1000px;
    background-size: cover;
  }

  .go_buy_title {
    position: absolute;
    top: 80%;
    left: 47%;
  }
}

.buy_item {
  // border: 1px solid blue;
  border-radius: 40px;
  overflow: hidden;
  width: 80%;
  max-width: 1920px;
  @include marginAuto();
  height: 550px;
  display: flex;
  justify-content: center;


  .buy_card {
    width: 10%;
    flex: 1;
    // border: 1px solid red;
    transition-duration: 2s;
    position: relative;

    .buy_card_hover {
      position: absolute;
      top: 50%;
      // left: 50%;
      transform: translateY(-50%);
      opacity: 0;
      // border: 1px solid red;
      width: 100%;
      height: 100%;
      transition-duration: 2s;

      &:hover {
        opacity: 1;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      // filter: brightness(1.75);
    }

    &:hover {
      flex: 3;
      cursor: pointer;
      filter: brightness(0.6);
    }
  }
}

.plant_methods {
  // border: 1px solid blue;
  width: 100%;
  height: 600px;
  margin-bottom: 100px;

  .plant_title {
    margin: 50px 0;

    h2 {
      text-align: center;
    }
  }
}

.plant_img_scroll {
  // border: 1px solid blue;
  width: 100%;
  height: 510px;
  overflow: hidden;
}

.farm_expr {
  // border: 1px solid red;
  width: 100%;
  margin-bottom: 100px;
  position: relative;

  .farm_expr_title {
    margin: 50px 0;

    h2 {
      text-align: center;
    }
  }

  .farm_expr_board {
    width: 100%;
    max-width: 1920px;
    @include marginAuto();
    display: flex;
    justify-content: space-evenly;

    .farm_expr_card {
      background-color: #FFF;
      width: 23%;
      max-width: 350px;
      // height: 450px;
      border-radius: 15px;
      box-shadow: 0 3.4px 4.8px rgba(0, 0, 0, 0.02),
        0 11.4px 16.1px rgba(0, 0, 0, 0.03),
        0 51px 72px rgba(0, 0, 0, 0.05);
      margin-bottom: 50px;

      &:hover {
        transform: translateY(-20px);
        transition: 0.5s;
      }

      img {
        width: 100%;
        border-radius: 15px;
        padding: 5px;
      }

      .farm_expr_text {
        // border: 1px solid red;

        h4 {
          text-align: center;
          padding: 10px 0;
        }

        h5 {
          padding: 20px 20px;
          height: 180px;
        }
      }

      .farm_expr_btn {
        @include btn(50%);
        margin-bottom: 10px;
      }
    }
  }

  .bg_img1 {
    width: 50%;
    position: absolute;
    top: -30%;
    left: -10%;
    z-index: -100;
  }

  .bg_img2 {
    width: 20%;
    position: absolute;
    top: 50%;
    right: 0%;
    z-index: -100;
  }
}

.about_board {
  // border: 1px solid red;
  width: 100%;
  max-width: 1200px;
  height: 800px;
  margin: 5% 0 10% 0;
  position: relative;
  @include marginAuto();

  .about_us {
    // border: 1px solid blue;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-color: $bkc_yellow;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3.4px 4.8px rgba(0, 0, 0, 0.02),
      0 11.4px 16.1px rgba(0, 0, 0, 0.03),
      0 51px 72px rgba(0, 0, 0, 0.05);


    .us_bg1 {
      position: absolute;
      top: 85px;
    }

    .us_bg2 {
      position: absolute;
      top: 170px;
    }

    .us_title1 {
      color: #FAF9EF;
      position: absolute;
      top: 125px;
      left: 55px;
      z-index: 5;
    }

    .us_title2 {
      color: #FAF9EF;
      position: absolute;
      top: 200px;
      left: 125px;
      z-index: 5;
    }
  }

  .about_img_all {


    @for $i from 1 through 8 {
      .about_img#{$i} {
        // border: 1px solid blueviolet;
        width: 180px;
        height: 180px;
        position: absolute;

        img {
          width: 100%;

          &:hover {
            animation: shake 1s;
            animation-timing-function: ease;
            cursor: pointer;
          }
        }
      }
    }

    @keyframes shake {
      0% {
        transform: scale(0.5, 1) rotate(0deg);
      }

      50% {
        transform: scale(2, 0.5) rotate(1deg);
      }

      75% {
        transform: scale(0.5, 1) rotate(1deg);
      }

      100% {
        transform: scale(1, 1) rotate(0deg);
      }
    }

    .about_img1 {
      top: 0px;
      left: 500px;
    }

    .about_img2 {
      top: 290px;
      left: 150px;
    }

    .about_img3 {
      top: 290px;
      right: 150px;
    }

    .about_img4 {
      bottom: 0px;
      right: 500px;
    }

    .about_img5 {
      bottom: 100px;
      right: 250px;
    }

    .about_img6 {
      top: 50px;
      right: 250px;
    }

    .about_img7 {
      top: 50px;
      left: 250px;
    }

    .about_img8 {
      bottom: 100px;
      left: 250px;
    }
  }
}