div.qa_step{
    width: 80%;
    @include marginAuto();
    display: flex;
    max-width: 1200px;
    div.notice {
        width: 85%;
        display: flex;
        border-radius: 20px;
        background-color:$bkc_yellow;
        h4{
            padding: 15px;
            border-radius: 15px;   
        }
       .light{
            background-color:$yellow;
            border-radius: 20px;  
       }
       img{
           width: 50px;
           height: 50px;
       }
    }
}
div.qa_item{
    width: 80%;
    @include marginAuto();
    display: flex;
    flex-wrap: wrap;
    //max-width: 1200px;
    
   
    div.aside{
            width: 15%;
            margin-top: 20px;
            padding: 15px 0px;        
        .sticky{
            position: sticky;
            top: 0;
        }
        .qa_list{
            line-height: 30px;
            top: -5px;
        }
        a{
            @include a_link();
            bottom: 20px;
            line-height: 30px;
            margin-top: 100px;
            top: 20px;
        }
        .hr{
            width: 80%;
            height: 3px;
            background-color: $brown;
            margin-top: 5%;    
            top: 20px;
        }

        ul{
            margin-top: 5%;
            top: 20px;
        }

       
    }

    
    div.qa_problem{
            width: 70%;  
            margin-top: 20px;
            
        .qa_01{
            width: 100%;
            background-color: $white;
            margin-top: 40px;
        }
        .question{
            color: $darkgreen;
            padding:15px;
            display: flex;
        }
        p.answer{
            line-height: 25px;
            padding:0px 30px 10px 15px ;
           
        }

        @mixin border_radius_text{
            border-radius: 30px;
        }
        .title1{
            background-color: #FAE7C3;
            padding: 20px;
            border-radius: 8px;  
        }

        .hr{
            width: 90%;
            height: 1px;
            background-color: $brown;
            margin-top: 2%;
            margin-left: 2%;
        }

        li{
            line-height: 25px;
            padding:0px 30px 10px 15px ;
        }

        //Q&A icon
        img{
            width: 30px;
            height: 30px;
            margin-top: -8px; 
        }

        //另一種寫法
        // p.question::before{
        //     width: 20px;
        //     height: 20px;
        //     background-image:url(/images/q_a/Q_green.svg);
        //     //content:url("/images/q&a/Q_green.svg " );
        //     background-size :100% auto;
        //     content:"";   
        // }


        // 下拉選單

        p.question::after{
            
            padding: 0px 5px 0px 10px;
            color: #78552B;
            content: '\f078';
            font-family: FontAwesome;
        }

    }

}

.animal_huacaya{
    position: relative;
    img{
        margin-left: 6%;
        margin-top: -6%;
        width: 17%;
        z-index: 1;
        position: absolute;
    }
}

.kiwi{
    width: 15%;
    margin-left: 79%;
    margin-top:30%;
    position: absolute;
    img{
        position: relative;
    }
}