<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>良耕野菜</title>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <header id="header">
    <div id="title">
      <div id="titleBtn">
        <button id="commUs"><h3>commUs</h3></button>
        <button id="buyNow"><h3>buyNow</h3></button>
      </div>
      <div id="titlePic">
        <img src="./images/vbox-lg-2.jpg" alt="index_pic">
      </div>
    </div>
    <div id="menu">
      <div id="logoImg">
        <img src="./images/logo.svg" alt="logo">
      </div>
      <div id="pageList">
        <a>農村體驗</a>
        <a>客製蔬果箱</a>
        <a>蔬果知識小遊戲</a>
        <a>關於我們</a>
        <a>問與答</a>
        <a>新鮮蔬果</a>
      </div>
    </div>
    <div id="menuFixed">
      <div id="icon">
        <div id="ham">
          <div class="ham_top"></div>
          <div class="ham_middle"></div>
          <div class="ham_bottom"></div>
        </div>
        <div id="login">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66">
              <g id="Group_10" data-name="Group 10" transform="translate(0.072 -0.117)">
                <circle id="Ellipse_77" data-name="Ellipse 77" cx="33" cy="33" r="33" transform="translate(-0.072 0.117)" fill="#fff"/>
                <g id="Group_7" data-name="Group 7" transform="translate(11.293 11.328)">
                  <g id="Group_3" data-name="Group 3" transform="translate(0)">
                    <path id="Path_17" data-name="Path 17" d="M-278.63,924.316l4.077,11H-281.4V923.2Z" transform="translate(316.961 -893.592)" fill="#754d00"/>
                    <path id="Path_18" data-name="Path 18" d="M-391.736,793.553c.646,0,1.13.339,1.13.642s-.484.642-1.13.642H-419.28c-.646,0-1.13-.339-1.13-.642s.484-.642,1.13-.642h3.4l.074-.64c.581-5.153,2.134-10.352,4.29-10.352a2.835,2.835,0,0,1,1.692.766,8.249,8.249,0,0,0,4.3,1.684h.055a7.811,7.811,0,0,0,4.085-1.69,2.783,2.783,0,0,1,1.686-.791c2.126,0,3.683,5.216,4.283,10.385l.076.638Z" transform="translate(426.712 -782.53)" fill="#754d00"/>
                    <path id="Path_19" data-name="Path 19" d="M-384.889,962.41v3.86H-410.65v-3.86h25.761Z" transform="translate(419.006 -924.549)" fill="#754d00"/>
                    <path id="Path_20" data-name="Path 20" d="M-294.1,918.08v6.838h-1.558V917.45Z" transform="translate(328.219 -889.052)" fill="#754d00"/>
                    <path id="Path_21" data-name="Path 21" d="M-376.632,910.735v8.6H-396.39v-8.628l1.339-.539.9-.352c.692,4.359,6.916,7.611,7.2,7.756l.33.168.331-.168c.282-.145,6.63-3.465,7.213-7.893l.7.347Z" transform="translate(407.748 -882.917)" fill="#754d00"/>
                    <path id="Path_22" data-name="Path 22" d="M-372.9,847.86v5.572a12.565,12.565,0,0,1-1.41,4.222,7.61,7.61,0,0,1-7.057,4.161,7.64,7.64,0,0,1-6.807-4.144,14.494,14.494,0,0,1-1.661-4.266V847.86Z" transform="translate(402.576 -834.109)" fill="#754d00"/>
                    <path id="Path_23" data-name="Path 23" d="M-366.888,909.745a9.057,9.057,0,0,1-3,3.964,21.016,21.016,0,0,1-2.993,2.06,21.131,21.131,0,0,1-2.993-2.06c-1.3-1.088-2.829-2.7-3.107-4.458a8.684,8.684,0,0,0,6.182,2.477A9.15,9.15,0,0,0-366.888,909.745Z" transform="translate(394.002 -882.578)" fill="#754d00"/>
                    <path id="Path_24" data-name="Path 24" d="M-409.09,917.32v8.047h-1.56v-7.417Z" transform="translate(419.006 -888.949)" fill="#754d00"/>
                    <path id="Path_25" data-name="Path 25" d="M-443.438,931.35v3.86h-6.912l4.077-11,2.835-1.143v8.28Z" transform="translate(450.35 -893.489)" fill="#754d00"/>
                  </g>
                </g>
              </g>
            </svg>            
          </a>
        </div>
        <div id="shopCar">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="45.396" height="40.352" viewBox="0 0 45.396 40.352">
              <path id="Icon_awesome-shopping-cart" data-name="Icon awesome-shopping-cart" d="M41.622,23.747,45.348,7.355A1.892,1.892,0,0,0,43.5,5.044H12.547l-.722-3.532A1.891,1.891,0,0,0,9.972,0H1.891A1.891,1.891,0,0,0,0,1.891V3.152A1.891,1.891,0,0,0,1.891,5.044H7.4l5.536,27.067a4.414,4.414,0,1,0,5.284.675H34.742a4.412,4.412,0,1,0,5.012-.82l.435-1.913a1.892,1.892,0,0,0-1.844-2.311H17.19l-.516-2.522h23.1A1.891,1.891,0,0,0,41.622,23.747Z" fill="#754d00"/>
            </svg>            
          </a>
        </div>
      </div>
    </div>
  </header>

  <div id="content">
    <a href="mailto:orange0720@hotmail.com">連結名稱</a>
    <h1>這是內容<a href="http://orange0720@hotmail.com"></a></h1><br>
    <h2>這是內容</h2><br>
    <h3>這是內容</h3><br>
    <h4>這是內容</h4><br>
    <h5>這是內容</h5><br><br><br><br><br>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>
    <p>這是內容</p>

    <p>這是內容</p>

    <p>這是內容</p>

    <p>這是內容</p>


  </div>


</body>

</html>