div.login_block{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 5%;
    padding-right: 21%;
    display: flex;
    .form_block{
        width: 40%;
        background-color: $white;
        /* box-shadow: 1px 1px 1px black; */
        border:1px solid $brown;
        padding: 30px 0px;
        transition: 1s;
        min-height: 475px;
        .login_form{
            h2{
                text-align: center;
                margin-top: 5%;
            }
            input{
                display: block;
                margin: 50px auto;
                width: 70%;
                padding: 10px;
                font-size: $h5;
                border: 1px solid $brown;
                &:focus{
                    outline: 1px solid $brown;
                }
            }
            #login_btn{
                @include btn(60%);
                display: block;
                @include marginAuto();
                text-align: center;
                &:focus{
                    outline: none;
                }
            }
            div.login_notice{
                margin-top: 10%;
                text-align: center;
                a{
                    text-decoration: none;
                    padding: 5px 10px;
                    color:$brown;
                    cursor: pointer;
                }
            }
        }
        .signup_form{
            display: none;
            h2{
                text-align: center;
                margin-top: 10px;
            }
            input{
                display: block;
                margin: 20px auto;
                width: 70%;
                padding: 10px;
                font-size: 20px;
                border: 1px solid $brown;
                &:focus{
                    outline: 1px solid $brown;
                }
            }
            label{
                display: block;
                margin: 0px auto;
                width: 70%;
                padding: 10px;
                text-align: center;
                input{
                    display: inline-block;
                    width:auto;
                    outline: 0px;
                    margin: 0px;
                    
                }
            }
            #sign_confirm_btn{
                @include btn(60%);
                display: block;
                &:focus{
                    outline: none;
                }
            }
            div.signin_notice{
                margin-top: 5%;
                text-align: center;
                a{
                    text-decoration: none;
                    padding: 5px 10px;
                    color:$brown;
                    cursor: pointer;
                }
            }
        }
    }
    .login_pic{
        width: 60%;
        /* overflow: hidden; */
        justify-self: flex-end;
        transition: 1s;
        img{
            display: inline-block;
            width: 100%;
            height: 100%;
            vertical-align: bottom;
        }
    }
}
@include tablet {
    div.login_block{
        width: 90%;
        margin-top: 60px;
        margin-bottom: 60px;
        @include marginAuto();
        padding: 0;
        display: flex;
        .form_block{
            width: 40%;
            background-color: $white;
            /* box-shadow: 1px 1px 1px black; */
            border:1px solid $brown;
            padding: 20px 0px;
            transition: 1s;
            .login_form{
                h2{
                    text-align: center;
                    margin-top: 5%;
                }
                input{
                    display: block;
                    margin: 40px auto;
                    width: 80%;
                    padding: 10px;
                    &:focus{
                        outline: 1px solid $brown;
                    }
                }
                #login_btn{
                    @include btn(80%);
                    display: block;
                    &:focus{
                        outline: none;
                    }
                }
                div.login_notice{
                    margin-top: 10%;
                    text-align: center;
                    a{
                        text-decoration: none;
                        padding: 5px 10px;
                        color:$brown;
                        cursor: pointer;
                    }
                }
            }
            .signup_form{
                display: none;
                h2{
                    text-align: center;
                    margin-top: 10px;
                }
                input{
                    display: block;
                    margin: 20px auto;
                    width: 80%;
                    padding: 10px;
                    &:focus{
                        outline: 1px solid $brown;
                    }
                }
                label{
                    display: block;
                    margin: 0px auto;
                    width: 80%;
                    padding: 0px;
                    text-align: center;
                    input{
                        display: inline-block;
                        width:auto;
                        outline: 0px;
                        margin: 0px;
                        
                    }
                }
                #sign_confirm_btn{
                    @include btn(80%);
                    display: block;
                    &:focus{
                        outline: none;
                    }
                }
                div.signin_notice{
                    margin-top: 5%;
                    text-align: center;
                    a{
                        text-decoration: none;
                        padding: 5px 10px;
                        color:$brown;
                        cursor: pointer;
                    }
                }
            }
        }
        .login_pic{
            width: 60%;
            /* overflow: hidden; */
            justify-self: flex-end;
            transition: 1s;
            img{
                display: inline-block;
                max-width: 100%;
                width: 100%;
                height: 100%;
                vertical-align: bottom;
            }
        }
    }
}
@include pad {
    div.login_block{
        width: 80%;
        margin-top: 60px;
        margin-bottom: 60px;
        min-height: 450px;
        @include marginAuto();
        padding: 0;
        display: block;
        overflow: hidden;
        .form_block{
            width: 100%;
            background-color: $white;
            border:1px solid $brown;
            padding: 20px 0px;
            transition: 1s;
            .login_form{
                h2{
                    text-align: center;
                    margin-top: 40px;
                }
                input{
                    display: block;
                    margin: 50px auto;
                    width: 70%;
                    padding: 10px;
                    font-size: $h5;
                    &:focus{
                        outline: 1px solid $brown;
                    }
                }
                #login_btn{
                    @include btn(60%);
                    display: block;
                    &:focus{
                        outline: none;
                    }
                }
                div.login_notice{
                    margin-top: 10%;
                    text-align: center;
                    a{
                        text-decoration: none;
                        padding: 5px 10px;
                        color:$brown;
                        cursor: pointer;
                    }
                }
            }
            .signup_form{
                display: none;
                h2{
                    text-align: center;
                    margin-top: 10px;
                }
                input{
                    display: block;
                    margin: 20px auto;
                    width: 70%;
                    padding: 10px;
                    font-size: $h5;
                    &:focus{
                        outline: 1px solid $brown;
                    }
                }
                label{
                    display: block;
                    margin: 0px auto;
                    width: 80%;
                    padding: 0px;
                    text-align: center;
                    input{
                        display: inline-block;
                        width:auto;
                        outline: 0px;
                        margin: 0px;
                        
                    }
                }
                #sign_confirm_btn{
                    @include btn(60%);
                    display: block;
                    &:focus{
                        outline: none;
                    }
                }
                div.signin_notice{
                    margin-top: 5%;
                    text-align: center;
                    a{
                        text-decoration: none;
                        padding: 5px 10px;
                        color:$brown;
                        cursor: pointer;
                    }
                }
            }
        }
        .login_pic{
            display: none;
        }
    }   
}

.form_move{
    transform: translate3d(150%,0,100px);
}

.pic_move{
    transform: translate3d(-66.6%,0,100px);
}

.pad_move{
    @include pad {
        transform: translateY(-100%);
    }
}

.pwd_block{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    .pwd_block_inside{
        width: 400px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 0px;
        background-color: $white;
        @include mobile {
            width: 80%
        };
        h3{
            text-align: center;
        }
        .pwd_resend{
            display: block;
            width: 80%;
            @include marginAuto();
            margin-top: 30px;
            padding: 10px;
            border: 1px solid $brown;
        }
        .pwd_resend_btn{
            @include btn(50%);
            display: block;
            margin-top: 30px;
            @include marginAuto();
        }
        .cancel_btn{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            background-color: $white;
            outline: none;
            border: none;
            cursor: pointer;
            img{
                max-width: 100%;
            }
        }
    }
}

.sign_block{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    .sign_block_inside{
        width: 400px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 0px;
        background-color: $white;
        @include mobile {
            width: 80%
        };
        h3{
            text-align: center;
        }
        .sign_confirm{
            display: block;
            width: 80%;
            @include marginAuto();
            margin-top: 30px;
            padding: 10px;
            border: 1px solid $brown;
        }
        .sign_send_btn{
            @include btn(50%);
            display: block;
            margin-top: 30px;
            @include marginAuto();
        }
        .sign_cancel_btn{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            background-color: $white;
            outline: none;
            border: none;
            cursor: pointer;
            img{
                max-width: 100%;
            }
        }
    }
}