$font_color: #A07332; // 咖啡
$bkc_yellow: #FFF7D2; //背景黃
$bkc_lightorange: #FAE7C3;


$brown: #A07332;  // 咖啡
$orange: #FF9B2F; // 金盞花菊
$green: #91C359; // 淺綠
$red: #FF5B3B; // 紅色
$white: #FAF9EF; // 米白
$yellow: #FFF353; // 黃
$darkgreen : #008000; // 深綠
$text_underline: #FFBC53 // 橘黃 壓在文字下面
