
// 按鈕 
@mixin btn($x, $y:null) {
    display: inline-block;
    width: $x;
    height: $y;
    background-color: $green;
    text-decoration: none;
    font-family: "huninn";
    @include border_radius();
    padding: 15px;
    border: 0;
    color: $white;
    font-size: $h4;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        background-color: darken($color: $green, $amount: 15);
    }
}

//圓角
@mixin border_radius {
    border-radius: 101px;
}

// absolute置中
@mixin abs_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// flex內容置中
@mixin flex_center {
    display: flex;
    justify-content: center;
    align-content: center;
}

// 左右置中
@mixin marginAuto {
    margin-left: auto;
    margin-right: auto;
}

// a標籤
@mixin a_link {
    text-decoration: none;
    color: $brown;
    &:link,
    &:visited{
        color: $brown;
    }
}